[2020-10-06 11:33] Alii-isk opened #1 "The example does not work well"
i tested the example and it doesn't work well at recognizing the words i say.
is it the lack of dataset that causing this or is it something else ?
and please how can i create a Model can i use teachablemachine.withgoogle.com for that?

[2020-10-06 12:27] Caldarie commented on #1
Thank you for the question Alii-isk.

You are correct. The example model (which is freely available to download from google) will not be able to pick up words well unless you speak clearly with no noticeable accent and background noise.

I believe there are several reasons why:

a) If you upload the model on [this website](https://lutzroeder.github.io/netron/), you can see that the demonstration m

[2020-10-06 12:56] Alii-isk commented on #1
thank you for your reply i really appreciate it
unfortunately i don't have much knowledge about machine learning ,i just
wanted to make a japanese Hiragana Spell checker for my app, do you know
any other way to do that

On Tue, Oct 6, 2020 at 1:27 PM Michael Nguyen <notifications@github.com>
wrote:

[2020-10-06 13:20] Caldarie commented on #1
Unfortunately, I'm not aware of any definite solutions to solve your problem. Though, have you checked out machine learning platforms such as google's [cloud automl](https://cloud.google.com/automl)? You're not required to have as much indepth knowledge compared to coding by hand.

[2020-10-06 14:09] Alii-isk commented on #1
thank you so much for your time i will definitely check automl and i would
love to see some new futures on your package

On Tue, Oct 6, 2020 at 2:21 PM Michael Nguyen <notifications@github.com>
wrote:

[2020-10-06 14:25] #1 closed

[2021-01-23 03:04] Caldarie opened #2 "If you have an issue or a feature request, please do not hesistate to ask."

[2021-01-27 17:29] Malakmud opened #3 "loading the model"
I tried your code for teachable machine in flutter but when I run the app it keeps loading the model and I couldn't use the functionality

[2021-01-28 04:55] Caldarie commented on #3
Hi @Malakmud,

I apologise for the late reply.

Would you be kind enough to include detailed steps to reproduce this bug?

[2021-01-30 01:17] Caldarie commented on #2
If you have an issue or encounter a bug with this plugin:
1. Create a new issue
2. Tag the issue as a **bug**
3. Please include steps to reproduce the problem.

[2021-02-03 13:58] Caldarie commented on #3
Hi @Malakmud,

I would like to follow up on the issue.

Do you still have a problem with loading the model?

[2021-02-04 06:14] Caldarie commented on #3
Closed due to inactivity

[2021-02-04 06:14] #3 closed

[2021-02-10 16:01] cmalbuquerque opened #4 "Android and iOS support for Google's Teachable Machine models"
I would like to know if these known issues will be resolved in the meantime?

- App crashes when runnning GTM model on both android and iOS - To reduce your app's footprint, this package has disabled GTM feature by default
- App crashes when running GTM model on iOS emulator - please run your simulation on actual iOS device. Tflite for x86_64 architectures have limited support

[2021-02-10 17:46] Caldarie commented on #4
Hi @cmalbuquerque

If I may confirm the first issue - is the problem the binary size? Or manually enabling GTM?

For the second issue, I believe the authors responsible for tensorflow iOS are investigating the problem, which can be found [here](https://github.com/tensorflow/tensorflow/issues/44997). If you absolutely need to use an emulator, you can consider building the select ops framework yours

[2021-02-10 19:35] cmalbuquerque commented on #4
@Caldarie thanks for your tips! 😁

For the first issue, I was having problems loading the GTM model but already fixed it. Works on Android device but I did not yet tested on iOS!

To use an emulator, I have been having some problems configuring correctly but I will guide using the documentation link you suggested! Thanks again 🤩

[2021-02-11 00:43] Caldarie commented on #4
@cmalbuquerque No problems at all. I’m glad it worked out in the end.

If it’s not too much trouble, would you mind sharing how you fixed he problem? It would really help others who also had a similar problem as you.

[2021-02-11 15:50] cmalbuquerque commented on #4
Basically, I follow these steps first (for Android scenario):

**1. Add permissions to Android Manifest**
[code]
**2. Add aaptOptions to `app/build.gradle` file**
[code]

**3. Enable select-ops in `app/build.gradle` file**
[code]

 After that, I loaded the model using the following definitions in the initState() :
[code]

And to get the result I specified 'rawAudio' has inputType because of GTM mo

[2021-02-12 03:19] Caldarie commented on #4
@cmalbuquerque many thanks for the detailed explanation!

[2021-02-17 16:45] Tanelo commented on #4
Hey guys I wanted to know if its is working on iOs now ??

[2021-02-17 16:55] Caldarie commented on #4
@Tanelo
iOS should work if you run it on a device and not emulator. Follow the instructions
[here](https://github.com/Caldarie/flutter_tflite_audio#ios-installation--permissions) to install

[2021-02-17 19:51] Tanelo commented on #4
@Caldarie not working on Android for me ..

[2021-02-17 22:01] Caldarie commented on #4
@Tanelo - can you provide details to reproduce this problem? It’s difficult to assist you if you don’t give more information

Also, have you tried running the example as well to check where you went wrong? You can git clone this project and run the example on your device. To do that, run the following commands below on terminal:

1. `git clone https://github.com/Caldarie/flutter_tflite_audio.git `

[2021-02-17 22:54] Tanelo commented on #4
@Caldarie Thanks for your help,
I've obviously cloned the repo. I've managed to run the app using the "decodwav" dataset but the GTM is not working, even on Android.
**There are like 155errrors on running the GMT dataset..**
**The end is of the debug session :**
...
      #146 pc 00379b00  /apex/com.android.art/lib/libart.so (art::interpreter::EnterInterpreterFromEntryPoint(art::Thread*, art::Code

[2021-02-17 22:58] Tanelo commented on #4
When running the decodwave on android (as well on the ios simulator) it's working fine !

**Debug session :**
`Launching lib/main.dart on sdk gphone x86 arm in debug mode...
lib/main.dart:1
✓ Built build/app/outputs/flutter-apk/app-debug.apk.
Connecting to VM Service at ws://127.0.0.1:56944/F_W8790dsa8=/ws
D/Tflite_audio( 4816): loadModel
D/Tflite_audio( 4816): model name is: assets/decoded_wav_mo

[2021-02-17 23:03] cmalbuquerque commented on #4
@Tanelo you cannot use 'decodedWav' as inputType if you are using a GTM model! Try to change the inputType to 'rawAudio' in your audio recognition method

[2021-02-17 23:42] Caldarie commented on #4
@Tanelo many thanks for the error logs.

It looks like an error with the tensorflow library, though I cant seem to glean any more information than that.

Can you provide more logs from the beginning?

Also, using @cmalbuquerque suggestion, can you check that you are using these parameters:

[code]

[2021-02-18 07:53] Tanelo commented on #4
**More of the debug mode :**

`
/Tflite_audio( 5403): loadModel
D/Tflite_audio( 5403): model name is: assets/google_teach_machine_model.tflite
I/tflite  ( 5403): Initialized TensorFlow Lite runtime.
W/native  ( 5403): cpu_feature_guard.cc:36 The TensorFlow library was compiled to use SSE instructions, but these aren't available on your machine.
F/libc    ( 5403): Fatal signal 11 (SIGSEGV), code 1

[2021-02-18 10:26] pierremotard commented on #4
When using a GTM model, nothing happens when I record on the app (no label is highlighted) and if I stay too long on the recording the length of buffer size is reached and the following error occurs:

Failed to invoke the interpreter with error: Provided data count 376128 must match the required count 176128.
Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value: file t

[2021-02-18 10:32] Caldarie commented on #4
Hi @pierremotard,

Will certainly get back with you. In the meantime, can you open a new issue?

[2021-02-18 10:34] Caldarie commented on #4
Hi @Tanelo

sorry for the late reply. I’ve been a bit busy with another project. If it’s not too much to ask, do you have a deadline? I may need time to investigate this issue

[2021-02-18 10:43] Tanelo commented on #4
@Caldarie I have no deadline, or like a week or two. Thanks !

[2021-02-18 11:04] pierremotard opened #5 "Nil found error with Google Teachable Machine model"
When I try to run the app with a GTM built model on device it keeps triggering the following error when the buffer size is reached and inference should happen.

Failed to invoke the interpreter with error: Provided data count 376128 must match the required count 176128.
Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value: file tflite_audio/SwiftTfliteAudioPlugin.swift

[2021-02-18 11:10] Caldarie commented on #5
Hi @pierremotard,

Thanks for opening a new issue.

Looking at the error, i am gonna suspect that your recordingLength is 94032?

If yes, unfortunately, Google's Teachabable Machine will only accept a fixed value for 44032. That may be the reason for the cause of the crash.

If you need longer recording time, I can suggest lowering your bufferSize. ~~Make sure that it matches recording length and/

[2021-02-18 11:32] Tanelo commented on #5
@Caldarie  @pierremotard  for my part, even on Android,
with `final String model = 'assets/google_teach_machine_model.tflite';
  final String label = 'assets/google_teach_machine_label.txt';
  final String inputType = 'rawAudio';
  final int sampleRate = 44100;
  final int recordingLength = 44032;
  final int bufferSize = 22016;
  final int numOfInferences = 1;`
It's not working..

[2021-02-18 11:43] Caldarie commented on #5
Hi @Tanelo,

Can you open a new issue?

[2021-02-18 11:47] Caldarie opened #6 "Crash on android Emulator"
**More of the debug mode :**

`
/Tflite_audio( 5403): loadModel
D/Tflite_audio( 5403): model name is: assets/google_teach_machine_model.tflite
I/tflite  ( 5403): Initialized TensorFlow Lite runtime.
W/native  ( 5403): cpu_feature_guard.cc:36 The TensorFlow library was compiled to use SSE instructions, but these aren't available on your machine.
F/libc    ( 5403): Fatal signal 11 (SIGSEGV), code 1

[2021-02-18 11:50] Caldarie commented on #6
Hi @Tanelo,

I have found the reason for your issue.

Are you running the example on an emulator? It seems like this package is no longer compatible on android emulators.

Do you have an android device by any chance? if yes, can you run it on that device in the meantime?

When i have time, I will provide an update.

[2021-02-18 11:55] Tanelo commented on #6
Hi @Caldarie, i will !
Thanks. That would be dope if you'd provide an update !

[2021-02-18 11:57] cmalbuquerque commented on #6
I had the same problem before I run in a physical device and after some research I think it is an architecture incompatibility with your emulator.

[2021-02-18 11:57] pierremotard commented on #5
It works with 44032 thank you!

[2021-02-18 11:58] Caldarie commented on #6
@cmalbuquerque Many thanks for letting me know.

Yeah, it may seem so. Technology does change fast. Haha!

[2021-02-18 17:17] pierremotard commented on #6
Even on physical device I still have this error (both on simulator and on device):
error: package org.tensorflow.lite does not exist
Even though it works on ios device now.

[2021-02-18 19:21] pierremotard commented on #5
Unfortunately I have now quite the same error when I try the custom model here: https://www.tensorflow.org/tutorials/audio/simple_audio

Here are the values for decodedwav models:
  `final String model = 'assets/simple_audio_model.tflite';
  final String label = 'assets/simple_labels.txt';
  final String inputType = 'decodedWav';
  final int sampleRate = 16000;
  final int recordingLength = 16000;

[2021-02-18 20:17] Caldarie commented on #5
To calculate recording length, you need to divide the numbers by 4. (4 represents the number of bytes). For example, 64,000/4 = 16,000 (or in your case... 63,984/4 = 15,996)

[2021-02-18 20:22] Caldarie commented on #6
@pierremotard can you provide a full log please?

[2021-02-18 21:35] pierremotard commented on #5
I tried 15996 for the recording length but had the same issue, should I let the buffer size to 2000?

[2021-02-18 22:32] Caldarie commented on #5
**#EDIT: Update for 0.1.6 - You can now use any value for bufferSize. You do not need to have a number thats divisible to recording length. For example, a buffer size of 2500 will work with recordingLength of 16000**

~~For bufferSize, make sure that it’s divisible to recording length.~~

~~For example, if the recordingLength is 15996, you can try the values  7998, 5332, 3999, 2666,1333 for buffer

[2021-02-18 22:41] pierremotard commented on #5
Thank you for answering, but it still triggers the same fatal error. I tried 7998 and 3999.

[2021-02-18 22:41] Caldarie commented on #5
Is the error any different when you used tried 15996 for recording length and 7998 for bufferSize?

if yes, can you paste it?

[2021-02-18 23:17] pierremotard commented on #5
Here is the log:
[code]

Still at the same line:` let scores = [Float32](unsafeData: outputTensor.data) ?? []`
I think the error is not related to the buffer size finally, and doesn't change with it.

[2021-02-19 01:07] Caldarie commented on #5
It looks like your input works, but now I’m beginning to suspect that the output is incorrect.

Can you upload the model on [netron](https://netron.app/) and tell me the array type (for e.g. float32) and dimensions (for e.g. [1, 16000]) for input and output  like below:

![](https://i.stack.imgur.com/D2v1U.png)

[2021-02-19 07:41] pierremotard commented on #5
![Screenshot 2021-02-14 at 14 12 02](https://user-images.githubusercontent.com/6213616/108473340-311f7600-728e-11eb-82e9-9094f4034b20.png)

[2021-02-19 07:41] pierremotard commented on #5
My output is
<img width="507" alt="Screenshot 2021-02-19 at 08 40 41" src="https://user-images.githubusercontent.com/6213616/108473442-50b69e80-728e-11eb-88d1-429fe1ca8146.png">

[2021-02-19 07:57] Caldarie commented on #5
Did you download the model? Or did you create it? If it’s not confidential, may I have a the download link or copy of your model?

[2021-02-19 08:06] pierremotard commented on #5
Before even putting my own model I really started with this one https://www.tensorflow.org/tutorials/audio/simple_audio
and only added this cell at the end to convert it to tflite
[code]

[2021-02-19 14:02] Caldarie commented on #5
@pierremotard sorry for the late reply.

Hmm, to be honest, I’m unsure why the output is returning null/nil.

The first possibility is that the model doesn’t like the input data, and so is returning a null exception.

The second possibility is that something in your model has changed (for example preprocessing) which made it incompatible with this package.

Unfortunately, I don’t have much time to

[2021-02-20 06:44] pierremotard commented on #5
[model_and_labels.zip](https://github.com/Caldarie/flutter_tflite_audio/files/6014281/model_and_labels.zip)

No problem thanks for your help, here are both the tflite models and the txt labels files.

[2021-02-20 14:20] Caldarie commented on #5
Hi @pierremotard,

I think i may know the reason for the error. As you can see from the picture below, your model only accepts the following dimensions: [1,124,129,1]. These dimensions represent an image of a spectogram.

<img width="439" alt="Screen Shot 2021-02-20 at 23 17 53" src="https://user-images.githubusercontent.com/42107315/108598671-4e5d5d00-73d2-11eb-908d-69379e834e8f.png">

Please tak

[2021-02-20 15:26] pierremotard commented on #5
Thanks for the details, I will work on that and keep you up-to-date.
I only have two questions in the meantime:
- Why do we need to pass the sample rate as input and not simply have it in the model?
- How can we gain freedom in the recording length and not need to pass a 16000 size raw audio?

[2021-02-20 15:32] Caldarie commented on #5
@pierremotard

good questions. In that case:

1. if you want a fixed sample rate in your model, you can simply change the input type to rawAudio in the package.

2. For your python code, Simply adjust the input shape [16000, 1] to the desired amount. For example assuming you want 5 seconds of audio and your sample rate is 16000, your input shape should be [80000, 1]. Please make sure that you foll

[2021-02-20 15:35] pierremotard commented on #5
For 2) my goal is to analyze recordings, but could be from a few seconds to way more, is this flexibility possible? Not only change from a fixed size to another fized size I mean.

[2021-02-20 15:40] Caldarie commented on #5
Hmm, In that case, you can adjust the parameter ‘numOfInferences’ in the package to lengthen your recording. However that will give you multiple inferences.

Depending on the output, you can average out the results from the multiple inferences. This should be done on your app

if you wish to shorten the recording, unfortunately that is not possible as of this moment. However, I can add this featur

[2021-02-20 18:34] cmalbuquerque opened #7 "Tensorflow Lite errors when running in iOS devices"
Running my application in iOS device (iPhone 7 with iOS 14.4) it crashes when the model is processing the data.
I believe that happens due to Tensorflow Lite Errors (see output) but I have no idea how to fix it:

[code]

I am using a **Google Teachable Machine model** and I followed [these steps](https://pub.dev/packages/tflite_audio#ios-installation--permissions) for iOS configuration.

I have te

[2021-02-20 22:17] Caldarie commented on #7
Hi @cmalbuquerque

the error that sticks out the most is:
`TensorFlow Lite Error: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference. `

Usually, you will get this error if you run it on an emulator, but it seems like you are using a device.

The most likely possibility is that your select ops haven’t been configured correctly.

[2021-02-20 22:57] cmalbuquerque commented on #7
@Caldarie yes, I forced load as mentioned on documentation:

<img width="866" alt="Captura de ecrã 2021-02-20, às 22 50 34" src="https://user-images.githubusercontent.com/38322440/108610518-0dfbe000-73ce-11eb-8053-9ed06b3e4d74.png">

And after specify the force load, I ran into iOS folder:
[code]

[2021-02-20 23:21] Caldarie commented on #7
To check whether it’s a bug or not, can you load your model and labels on the example project provided in this repository? Can you tell me if you receive the same error?

[2021-02-20 23:55] cmalbuquerque commented on #7
Yes @Caldarie, I tested using the example project and I had the same error... Also, I checked your iOS configurations for GTM models and are the same than mine. 😞

[2021-02-21 00:02] Caldarie commented on #7
If it’s ok with you, would you be willing to share your model with me? It’s possible that google may of changed something, or the people responsible for iOS tensorflow made a breaking change.

[2021-02-21 00:06] cmalbuquerque commented on #7
Yes, of course! Maybe you're right and some update from them breaks something...
Here is my basic model: [gtm_model.zip](https://github.com/Caldarie/flutter_tflite_audio/files/6016888/gtm_model.zip)
Thanks! 😄

[2021-02-21 04:17] Caldarie commented on #7
Hi @cmalbuquerque,

I was able to run your model fine (as shown on the image below).

![IMG_4584](https://user-images.githubusercontent.com/42107315/108615440-69b67f80-7447-11eb-84f7-c832e403603c.PNG)

There are few possibilities for your problem:

1. It's possible that your editor (vscode or xcode) has failed to detect your device and you are running the project on an emulator. To detect the devi

[2021-02-21 15:39] cmalbuquerque commented on #7
Thanks! Could you tell me what's your Xcode version?

I reviewed all steps of my configuration and I noticed that when I run `flutter pub get` into /ios directory, it changes automatically the `ios/Flutter/Release.xcconfig` file to:
[code]
And running `pod install`:
[code]
Also, if I replace my `ios/Flutter/Release.xcconfig` file with yours, the same warning appears. The suggestion given by warnin

[2021-02-21 16:54] pierremotard commented on #5
I built my tensorflow model for 2 inputs but still can't find a way to pass it both a BatchDataset and an int when fit it.
In parallel I want to try this model with the 'rawAudio' input type, my issue now comes from the interpreter.invoke() that triggers the following error:

[code]

I have seen that tf-nightly could maybe help, do you have any idea?

[2021-02-21 21:20] Caldarie commented on #5
Try swapping the dimensions around from float32[16000, 1]  to float32[1, 16000]

[2021-02-21 21:27] Caldarie commented on #7
Input this code in release.xconfig
[code]

[2021-02-21 21:29] Caldarie commented on #7
Hmm, I’ll get back to you about this problem

As for Xcode version, I’m using 12.4

[2021-02-21 21:47] cmalbuquerque commented on #7
@Caldarie thanks for your time!
I tried to reinstall Xcode, update pods and finally it works! Sorry for your time and thanks again! 😁

[2021-02-21 21:47] #7 closed

[2021-02-21 22:10] Caldarie commented on #7
Glad I could be of assistance!

[2021-02-22 06:04] pierremotard commented on #5
My model already has this dimension shape (I used the GTM settings so 44032)
![Screenshot 2021-02-22 at 06 50 42](https://user-images.githubusercontent.com/6213616/108668708-ed21b080-74db-11eb-9119-6f999b0eb77b.png)

It is true though that the Input looks like this in the code:
`x = Input(shape=(n_samples,), name='input', dtype='float32')`

But I only get errors whenever I try to transpose or chan

[2021-02-22 13:21] Caldarie commented on #5
Hi @pierremotard,

unfortunately, I’m not too knowledgeable with your problem. However, I think you may be missing something crucial like quantization, preprocessing, normalisation, or resizing your tensor input. Again, just an educated guess, as I’m not too familiar with keras.

Apologies if my answer does not satisfy your question. Though, if you do find an answer, it’ll be greatly appreciate if

[2021-02-22 18:32] pierremotard commented on #5
Ok so with a trivial model, only one hidden layer it worked. I will let you know which layer caused the problem once I found it but I think you guessed correctly maybe the normalization caused the issue.

[2021-02-28 10:47] Caldarie commented on #5
Hi @pierremotard,

I would like to check up on your progress. Have you found any solutions yet?

If not, I have found some references which can be used to assist with your problem. You can view them here:

1. [Raw audio](https://github.com/tensorflow/examples/tree/master/lite/examples/speech_commands/ml).
2. [Decoded wave](https://github.com/tensorflow/tensorflow/tree/r1.15/tensorflow/examples/spe

[2021-02-28 19:31] pierremotard commented on #6
Here is the full log, running on Samsung S10

/Users/pierre/code/audio_tflite/android/src/main/java/flutter/tflite_audio/TfliteAudioPlugin.java:24: error: package org.tensorflow.lite does not exist
import org.tensorflow.lite.Interpreter;
                          ^
/Users/pierre/code/audio_tflite/android/src/main/java/flutter/tflite_audio/TfliteAudioPlugin.java:91: error: cannot find symbol
    pr

[2021-02-28 23:05] pierremotard commented on #5
Hi @Caldarie, thanks for the resources I will try to build upon them, until now I was able to import a model but not one with the Short Time Fourier Transform from TensorFlow (tf.signals.stft) that has some reshaping that causes issues, it is this layer that prevent the model from working. You can check out my issue here https://github.com/tensorflow/tflite-support/issues/352 for more details. I w

[2021-03-01 01:50] Caldarie commented on #5
@pierremotard Did you get this error by loading your own trained model? In that case, the problem most likely lies with your model. Please take a look at this issue [here](https://github.com/tensorflow/tensorflow/issues/44543)

Another likely possibility is that you didn’t configure your settings correctly, please take a look at this [Issue#7](https://github.com/Caldarie/flutter_tflite_audio/issue

[2021-03-01 15:30] Caldarie commented on #6
@pierremotard When you run the example given in this repository, do you still get the same error?

[2021-03-02 22:17] pierremotard commented on #5
@Caldarie Here's an update because I was finally able to find a workaround on this issue.
Two tensorflow functions were causing issues, tf.signal.stft and tf.abs, so I had to implement the STFT using tf.frame and then a manual FFT, and a manual absolute value of complex values to obtain the magnitude.
It looks like all the Flex delegate (Flex.RFFT, Flex.Abs, ...) from tensorflow is not working on

[2021-03-03 00:59] Caldarie commented on #5
@pierremotard many thanks for the update!!!

Also, I just updated the package so now you don’t need to have a bufferSize that’s divisible to recordingLength.

[2021-03-04 04:22] Caldarie commented on #5
Hi @pierremotard

Theres a possibility that you cannot use the flex delegates as you didn't include it in your conversion.

To convert with flex delegates, you may consider doing:

[code]

This was taken from the official documents for [Tensorflow](https://www.tensorflow.org/lite/guide/ops_select#convert_a_model)

[2021-03-04 07:26] pierremotard commented on #5
Unfortunately I already including these supported_ops, but really I've seen no one managing to use these operations (RFFT, STFT etc) in tflite so I think it's not supported yet.

Thanks for the update about the buffer size!

[2021-03-06 19:47] Caldarie commented on #5
Hi @pierremotard,

I may provide a future update where the plugin can use a spectrogram as an input type instead of raw audio or decoded wave.

Though, this may take awhile to develop. I will keep you posted

[2021-03-12 15:15] cmalbuquerque opened #8 "Change recording length using GTM models to allow audio inputs greater than 1 second"
I am using a GTM model and I am trying to increase the recording length passed to the model. To analysing 1 second of audio, I am using the following configurations:
[code]
Instead of analysing just 1 second, I want to increase the audio input to 3-5 seconds. Changing the recording length to 132 096 (3 x 44032),  sampleRate to 132 300 (3 x 44100) and the bufferSize to half of recordingLength value

[2021-03-12 17:09] cmalbuquerque opened #9 "iOS issues: Invalid 'tflite_audio.podspec' file after change plugin version and problems with flutter 2"
I noted that using a new version of this plugin, there are some problems specially in **iOS devices**:

1. Using the next dependency and running `pod install`, it fails:

[code]

[code]

However, **using the version 0.1.5+3,** this issue not happens!

2. Also, after flutter update to flutter 2, I started to have some problems in startRecording process when running using an iPhone:

[code]

Besides

[2021-03-12 19:41] Caldarie commented on #9
Hi @cmalbuquerque

Many thanks for pointing the bugs out.

1. For the podsec issue, it seems like I’ve forgotten to add an apostrophe after 0.1.6+1 . I’ll have this hot fixed very soon.
2. As for flutter 2.0.0, to be honest I wasn’t aware that this was released just recently. I’ll definitely take a look and see if I can provide a hot fix as well.

[2021-03-12 19:52] Caldarie commented on #8
Hi @cmalbuquerque

Unforunately, the recording length needs to be a fixed size. The good news however is that you can lengthen your recording by reducing your buffer size. For example:

1. For a very long recording time, try recordingLength of 44032 and a bufferSize of 2000.
2. For a moderate recoding time, try recordingLength of 44032 and a bufferSize of 8000
3. For a very short recording time, t

[2021-03-12 21:47] cmalbuquerque commented on #8
@Caldarie nice, thanks!

I thought that I could only set the bufferSize value as half of recordingLength value... I decreased sample rate to 16kHz and set bufferSize to 2000 and I got approximately 3 seconds of audio... 44,1 kHz improve the accuracy however I believe if I use good audio samples to build the model with very distinct classes and train it, it will be able to get accurate inferences.

[2021-03-13 03:46] Caldarie commented on #8
@cmalbuquerque Glad I could be of assistance.

You’re absolutely correct. It won’t really matter too much if you have distinct classes. Furthermore, if you listen closely, there’s not much of a difference between a sample rate of 16khz and 44.1khz.

[2021-03-13 08:18] Caldarie commented on #9
Hi @cmalbuquerque

Ive updated the package to 0.1.6+2. Let me know if you still recieve the same error.

Michael

[2021-03-13 14:26] cmalbuquerque commented on #9
@Caldarie yes, it works both on Android and iOS already using Flutter 2! 😁

Many thanks for the update!

[2021-03-13 14:26] #9 closed

[2021-03-20 14:29] eyalis opened #10 "It always matches the sound to the first category listed"
When I try it, it always interprets the sound as the first category listed in the file

[2021-03-20 14:57] Caldarie commented on #10
Hi @eyalis,

To help better assist with your problem, can you provide more information?

1. Are you using an emulator or device?
2. Are you running the simulation on iOS/android?
3. Are you using your own model or the example provided?
4. What is your bufferSize?

[2021-03-20 15:07] eyalis commented on #10
Thank you @Caldarie for your quick answer, here it goes:

Describe the problem: When I try the example it always matches the first word of the category file.
1. Are you using a device or emulator?: I'm using a device: Samsung Galaxy S7 (the app requested me for permission and those were allowed).
2. Are you running the simulation on iOS/android? I'm running it on android
3. Are you using your own

[2021-03-20 18:49] Caldarie commented on #10
Hmm, I’m that case:

1. Have you tried adjusting your bufferSize around? For example, 22050, 5000 etc
2. Can you tell me your sample rate?
3. Do you still get the same result if you run the “decodedWav” model in the example?

[2021-03-20 22:34] eyalis commented on #10
Thanks, so:

1. Have you tried adjusting your bufferSize around? For example, 22050, 5000 etc
Yes, I tried with: 22050, 5000, 7000, 30000, etc.

2. Can you tell me your sample rate?
I'm using the one that comes with the example which is 44100

3. Do you still get the same result if you run the “decodedWav” model in the example
No, that one works pretty good!

[2021-03-21 00:44] Caldarie commented on #10
Looking at your answers, we can rule down to one possibility.

I think the most likely reason why you’re not getting a response, is because your model isn’t trained well enough to distinguish your desired sound to other sounds/background noise.

Make sure that you increase the number of training examples and remove any prolong silences. (The goal is to make it as distinct as possible). Also for yo

[2021-03-21 13:16] eyalis commented on #10
Thank you for your answer, my model works well in the teachable machine (I have tested it with the tool they provide in the platform), I think it may be another problem, maybe related to my device configuration or something like that.

Thank you anyway, I'll keep trying and if I find what was the problem/solution, I'll let you know!!!

[2021-03-21 14:33] Caldarie commented on #10
Ah, i see. In that case, maybe you can tinker around with the sample rate. I heard that some people had better results with 16000

[2021-03-26 13:26] Caldarie commented on #10
Hi @eyalis,

I've updated the package (0.1.7) where you can now adjust the detection threshold of the model. I believe this should help fix the issue you are having. For example:

If your model is frequently matching the first category, simply adjust detectionThreshold to a lower value.

Example on how to implement this:

[code]

Let me know if this fixes your problem

[2021-04-06 14:46] eyalis commented on #10
Hi @Caldarie thank you so much, I'll try it asap and let you know!

[2021-04-13 15:36] cmalbuquerque commented on #10
@Caldarie the same is happening to me.
The inference always returns the first category 😕
I tested with both versions 0.6.2 and 0.7.1

[2021-04-13 20:40] Caldarie commented on #10
Hi @cmalbuquerque,

For testing purposes, can you tell me if you still see the same problem after lowering your detectionThreshold to maybe 0?

[2021-04-15 09:50] cmalbuquerque commented on #10
@Caldarie yes, I am using the following settings:
[code]
My sample rate is low as well as the bufferSize but I need to use these values in order to increase the time of recording. I will try to use other model with sounds more distinct and then I leave feedback here

[2021-04-15 10:33] Caldarie commented on #10
@cmalbuquerque

No problems at all, let me know the results of your other model.

Just be aware that detection threshold ignores any predictions where it’s probability doesn’t exceed the set value. For example:

If your detection threshold is set as 0.5 (50%) and your model predicts the audio label as “yes” at 0.4 (40%) and “no” at 0.1 (10%), your prediction will be ignored and hence the problem w

[2021-04-15 14:12] cmalbuquerque commented on #10
@Caldarie,
Many thanks for the help and the detailed explanation! I used other model with `detectionThreshold: 0.4` and it works perfectly 😁

[2021-04-15 15:00] Caldarie commented on #10
@cmalbuquerque

I’m very glad to hear that! 😁

[2021-07-07 15:16] jijkbird opened #11 "help :Error using your own model"
D/Tflite_audio( 2629): Check for permissions
D/Tflite_audio( 2629): Permission already granted. start recording
V/Tflite_audio( 2629): Recording started
V/Tflite_audio( 2629): recordingOffset: 1000/16000
V/Tflite_audio( 2629): recordingOffset: 2000/16000
V/Tflite_audio( 2629): recordingOffset: 3000/16000
V/Tflite_audio( 2629): recordingOffset: 4000/16000
V/Tflite_audio( 2629): recordingOffset: 500

[2021-07-08 01:07] Caldarie commented on #10
It has come to my attention that this problem may also be due to bufferSize.

Its possible that a higher bufferSize doesn't allow your device enough time to record, hence the problem where it always match the first category.To fix this, simply adjust the bufferSize to a lower value.

Likewise, if your bufferSize is too low, the recording length will be too long and your model may possibly register

[2021-07-08 02:07] Caldarie commented on #11
Hi @jijkbird

Analysing your model on [netron](https://netron.app/), it seems that your model has an input type of float32[1,3920]. In that case you want to change your input type from 'decodedWav' to 'rawAudio'. Also, make sure that your recording length is 3920. Here is an example of what your values should look like:

[code]

[2021-07-08 04:06] jijkbird commented on #11
@Caldarie

Thank you.

I've been waiting for your reply all night

thank you

[2021-07-08 04:26] jijkbird commented on #11
@Caldarie

I'm making an app to recognize the sound of piano keys,

I have a dataset of piano keystrokes,

Can you make a model for me?

I'm willing to pay.

[2021-07-08 05:13] Caldarie commented on #11
Hi @jijkbird,

Many apologies for the late reply. I am currently living in Japan, so it's a bit difficult for me to reply within different time zones.

As for building your model, you can email the details to michaeltamthiennguyen@gmail.com. We can discuss more in depth from there.

Michael

[2021-07-17 04:22] amardeep-singh97 commented on #10
@Caldarie Thank you for this awesome package. I am facing the same issue. I tried all of the above solutions, none of them worked. I am thinking I might made some mistake while training the model on GTM. Can you suggest what should be "delay" and "duration" in class while training.

[2021-07-17 04:34] Caldarie commented on #10
Hi @amardeep-singh97,

To assist you with your problem, will it be possible for your to share your model?

[2021-07-17 05:14] amardeep-singh97 commented on #10
@Caldarie Yes Here you go, Here we will get class 2 on saying "Help".
[converted_tflite (1).zip](https://github.com/Caldarie/flutter_tflite_audio/files/6834206/converted_tflite.1.zip)

[2021-07-17 06:52] Caldarie commented on #10
Hi @amardeep-singh97

I ran through your example, and it seems that your were right about your model's accuracy (even after tuning the parameters). However, I have noticed that your model does at times pick up the sound after some slight delay but performs poorly when speaking too quickly or slowly.

1. In that case, may i ask as to how many samples you have trained?
2. Have you considered trainin

[2021-07-17 08:35] amardeep-singh97 commented on #10
@Caldarie I think that too, i trained it with 60 background noise samples and 40 help samples. Sample size is 1 second on GTM. Can you suggest improvements

[2021-07-17 08:58] Caldarie commented on #10
@amardeep-singh97

Let me run some tests with the source code. As mentioned above, it seems that many people are experiencing the same problem as you.

Oddly enough, this seems to only be a problem with GTM models.

[2021-07-17 09:24] amardeep-singh97 commented on #10
@Caldarie Okay. Thank you for your support. Let us know what you find.

[2021-07-17 10:32] Caldarie commented on #10
Hi @amardeep-singh97,

I have tested my own GTM model provided in this repository, and had much better result with the following values:

[code]

Unfortunately, I haven't had much success with the model you have provided. It seems that your model (on average) considers most of the voice input "help" at around 20% confidence. I think the most likely explanation that your model has difficulty differ

[2021-07-18 15:29] amardeep-singh97 commented on #10
@Caldarie I am training a new model with more variation in data. I will let you know if i face any issues. I'll consider arguments in your solution.

[2021-07-19 05:07] Caldarie commented on #10
@amardeep-singh97 keep us update! :)

[2021-07-19 12:17] nazdream commented on #8
@Caldarie Hi!
I am trying to count the number of specific sounds in the audio stream.

1) The problem I have is that I am calling TfliteAudio.startAudioRecognition and trying to listen to the events steam I am receiving events every 1 second. And I can't find the possibility to increase events' frequency to receive events every 50-100 ms. Is it possible to decrease interval duration to 50-100 ms?

[2021-07-19 12:22] nazdream opened #13 "Counting specific sound occurances in the audio"
I am trying to count the number of specific sound occurrences in the audio

The problem I have is that I am calling TfliteAudio.startAudioRecognition and trying to listen to the events steam I am receiving events every 1 second. And I can't find the possibility to increase events' frequency to receive events every 50-100 ms. Is it possible to decrease interval duration to 50-100 ms?

Another probl

[2021-07-19 12:42] Caldarie commented on #13
Hi @nazdream,

Looking at your description, it looks like you’re trying to build Sound Event Detection model. Correct me if I’m wrong here.

As for “ 1 Result”, i can check what’s wrong if you’re willing to share your label text file. Let me know if this is possible .

[2021-07-19 12:45] nazdream commented on #13
Sure, 5 minutes please, I can upload the label and ts model to google drive and share access to it to this gmail: michaeltamthiennguyen@gmail.com. Will you be able to access it from there?

[2021-07-19 12:46] Caldarie commented on #13
@nazdream no problems. It should be fine

[2021-07-19 12:50] nazdream commented on #13
I have sent you the invite, can you check if you received it, please?

[2021-07-19 12:56] nazdream commented on #13
Here is the code I used for testing the functionality I need:
[code]

And in the app file I am initializing the model:
[code]

[2021-07-19 13:02] Caldarie commented on #13
Ah, it seems you are using Google's Teachable Machine.

So, just to clarify a few more things, you want to reduce the recording length from 1000ms to around 50-100ms? Is that correct?

[2021-07-19 13:04] nazdream commented on #13
Yes

[2021-07-19 13:06] nazdream commented on #13
Or another option is to see how many occurrences of specific sound are in a 1-second interval. If startAudioRecognition event included a number of occurrences of sound in the 1-second interval that also would be perfect.
Something like this:
` {hasPermission: true, inferenceTime: 71, recognitionResult: 0 Name, occurrences: 5}`

[2021-07-19 13:09] Caldarie commented on #13
In that case, i think it may possible to do so. However, I have yet to test whether it works.

If you don't mind doing the testing for me, I suggest reducing the recordingLength to perhaps half, quarter or one eigth.

Let me know how it goes.

This may be possible, but i may need to change the source code around a bit to achieve this effect.

[2021-07-19 13:11] nazdream commented on #13
I will test this in a moment and provide results here

[2021-07-19 13:36] nazdream commented on #13
I have tried reducing recordingLength by 2, 4 and 8 times, but the app is crashing every time with the following error:

E/AndroidRuntime(25618): FATAL EXCEPTION: Thread-7
E/AndroidRuntime(25618): Process: , PID: 25618
E/AndroidRuntime(25618): java.lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter: tensorflow/lite/core/subgraph.cc BytesRequired number of element

[2021-07-19 13:54] Caldarie commented on #13
Can you tell me your bufferSize? You need to match it or have it lower than the recording length.

[2021-07-19 14:14] nazdream commented on #13
I was using 8000 buffer size
[code]

[2021-07-19 14:37] nazdream commented on #13
Just tried to use some other combinations of recordingLength and bufferSize but the app keeps crashing when I start recording audio with recordingLength != 44032. Let me know if you have any ideas on what could be the problem, please

[2021-07-19 14:40] Caldarie commented on #13
Hi @nazdream,

I will take a look into the source code when i find some spare time. I cannot guarantee a fix, but i will keep you updated.

[2021-07-19 14:48] nazdream commented on #13
Thanks!

[2021-07-20 08:40] Caldarie commented on #13
Hi @nazdream,

After running some tests, i think an inference every 50-100ms (or 10 to 20 inferences per recording) will be extremely taxing for mobile devices. The best i can achieve is around 200ms for each inference, and this excludes latency and recording delays.  Running an inference 10 to 20 times concurrently will cause a noticeable lag and can deteriorate the user's experience, i think.

W

[2021-07-20 09:02] nazdream commented on #13
Hi @Caldarie ! Thanks for the response.
I think that 200ms will not work for me however I can try, maybe that will be enough. I ideally need some solution to be able to detect sound around every 100 ms or less. Is it technically possible to achieve something like this or typical device doesn't have enough resources to achieve such high frequency?

[2021-07-20 09:11] Caldarie commented on #13
@nazdream I think it's very difficult to achieve your requirements with GTM models considering its a simple audio classification model.

However, i think it's possible to detect sound every 100ms if you built your own custom model. Though, this may require deep knowledge of machine learning. You will also need to modify this package as well to fit this custom model.

[2021-07-20 09:18] nazdream commented on #13
How can inference every 50-100ms impact the device? I just need this sound detecting feature to work 30 seconds in a row max, so maybe if that will not impact the device that much.

Can you clarify if I understood you correctly that it's the GTM model which makes processing slow/ power consuming and the custom model can be much faster? Because we can create a custom GTM model if needed, however, I

[2021-07-20 09:23] Caldarie commented on #13
As I've already explained in comment [13](https://github.com/Caldarie/flutter_tflite_audio/issues/13#issuecomment-883212379), it's a matter of processing power.

As for building a custom model, on second thought, it may also not be possible depending on what you want. Do you want real time results (inference every 100ms?), or do you want 20 results to appear after the recording is finished?

[2021-07-20 09:25] nazdream commented on #13
I need real-time results

[2021-07-20 09:27] Caldarie commented on #13
Ah, in that case,  I think real time results for every 100ms may be next to impossible; even with custom models.

I may be wrong however. You might want to consult the developers for [tflite](https://github.com/tensorflow/tflite-support) to see if its possible.

[2021-07-20 09:36] nazdream commented on #13
I will write them a letter and provide the answer from them when they reply.

@Caldarie Is it possible to detect the number of sounds in 1-second intervals, or it is only possible to count the number of sounds by splitting intervals into smaller intervals and check if there is a specific sound in each of them?

[2021-07-22 09:24] Caldarie commented on #13
Apologies for the late reply.

Yes, its possible if you develop your own model. With GTM, its impossible considering it only outputs one result at a time.

As explained before, this approach is possible but not advisable.

[2021-07-22 11:58] nazdream commented on #13
Do I understand that the model output is defined by the model itself and it doesn't depend on the package?

[2021-07-22 12:13] Caldarie commented on #13
@nazdream That is correct. You want train a model with multi label classification. Just be aware that this will only output multiple labels, not number of occurrences.

If you want to count the number of occurrences, you'll need to go deeper and train for a Sound Event Detection model. This one requires much deeper knowledge and time to train.

As for the package, I have yet to adapt it for models

[2021-07-26 03:01] brannendl opened #14 "nil error running example app, decodedwav models, on iOS emulator"
Syncing files to device iPhone 8...
Activating Dart DevTools...
tflite_audio/SwiftTfliteAudioPlugin.swift:342: Fatal error: Unexpectedly found nil while unwrapping an Optional value
Lost connection to device.

[2021-07-26 03:59] Caldarie commented on #14
Hi @brannendl,

Is this problem exclusive to iOS? Or do you receive a similar error on android?

[2021-07-27 12:20] #14 closed

[2021-07-27 12:21] Caldarie commented on #14
Closed due to inactivity

[2021-07-27 21:02] brannendl commented on #14
Regarding Android emulator, I get a different error.  Both the iOS and Android errors may be due to the same cause.  In the Example app, the variable "result" is not initialized.  I marked it late to get it to run.  However, the example app needs code to initialize the variable.

════════ Exception caught by widgets library ═══════════════════════════════════════════════════════
The following Late

[2021-07-28 00:03] Caldarie commented on #14
Hi @brannendl,

For the iOS error, it's likely that you're using the wrong input type, or that your model input is incompatible with this package. Can you upload your model on [here](https://netron.app/) and tell me the input shape?

For android, it looks like the error is from the flutter side. It's unlikely that they derived from a similar error.

[2021-08-01 15:34] Bsm-B opened #15 "Null safety: Error in example code"
I think it is caused by the addition of null safety compatibility without update the example code.

Error:

lib/main.dart:180:58: Error: The parameter 'result' can't have a value of 'null' because of its type 'String', but the implicit default value is 'null'.
Try adding either an explicit non-'null' default value or the 'required' modifier.
  Widget labelListWidget(List<String> labelList, [String

[2021-08-02 03:41] Caldarie commented on #15
Hi @Bsm-B ,

Thanks for pointing out the error!

It seems that you are right about the null incompatibility with the example.

i will post an update soon.

[2021-08-02 08:36] Caldarie commented on #15
Hi @Bsm-B,

I have updated the example to be null compatible. Please check if it works for you

[2021-08-05 00:49] #15 closed

[2021-08-06 01:32] Bsm-B commented on #15
@Caldarie  Thank you.. It works well 🐱‍💻

[2021-08-06 08:33] fabian-rump commented on #10
I have the same problem but only on one device. I created a model with Google Teachable Machine and tested this on two devices:

**Samsung Galaxy S9 Plus**
The first label is always detected here.
The logged raw scores are: [NaN, NaN, NaN]

**Samsung Galaxy S20**
The detection works perfectly here

Both were tested under the same conditions.

Any suggestions?

[2021-08-06 08:55] Caldarie commented on #10
Hi @fabian-rump,

That’s a very peculiar problem.

With the S20, will it from time to time output NaNs?

As for S9, does this device always output NaNs? Or does it, from time to time, output a score?

[2021-08-06 09:12] fabian-rump commented on #10
The S20 outputs a NaN in one of hundreds of cases.
The S9 always outputs NaN. I haven't yet been able to get a score on the S9.

[2021-08-06 11:22] Caldarie opened #16 "Google Teachable Machine raw output returns NaN"
I have the same problem but only on one device. I created a model with Google Teachable Machine and tested this on two devices:

**Samsung Galaxy S9 Plus**
The first label is always detected here.
The logged raw scores are: [NaN, NaN, NaN]

**Samsung Galaxy S20**
The detection works perfectly here

Both were tested under the same conditions.

Any suggestions?

_Originally posted by @fabian-rump in

[2021-08-06 11:24] Caldarie commented on #16
@fabian-rump

Do you also get similar results for decodedWav models on both s9 and s20? Or is the problem just with google teachable machine?

[2021-08-06 13:49] fabian-rump commented on #16
I only tried it with the google teachable machine models and rawAudio.

[2021-08-07 10:44] Caldarie commented on #16
Hi @fabian-rump,

I am having difficulty reproducing your problem. If its not too much to ask, would you be willing to test the example with decovedWav and let me know if you see something similar?

Also, is this problem from the example? Or from your own model?

[2021-08-11 06:52] fabian-rump commented on #16
If I change the inputType to "decodeWav" then are:
**Samsung Galaxy S9 Plus**
Raw Scores: [0.0, 0.0, 0.0]

**Samsung Galaxy S20**
Raw Scores: [0.0, 0.0, 0.0]

And the result on both devices:
result: {hasPermission=true, inferenceTime=0, recognitionResult=0 FirstLabel}

The model was created with the Google Teachable Machine with own classes.
I also tried out the model from [here](https://carolinam

[2021-08-11 11:29] Caldarie commented on #16
Hi @fabian-rump

Im suspecting that native android tflite package hasn't been properly installed.

Can you run the following commands in the terminal

- cd ../flutter_tflite_audio/example
- flutter clean
- flutter pub get
- flutter run

Also please post the full log here on github.

Let me know if this works for you.

[2021-09-24 16:45] rhernandez-itemsoft opened #17 "The plugin `tflite_audio` uses a deprecated version of the Android embedding."
The plugin `tflite_audio` uses a deprecated version of the Android embedding.
To avoid unexpected runtime failures, or future build failures, try to see if this plugin supports the Android V2 embedding. Otherwise, consider removing it since a future release of Flutter will remove these deprecated APIs.
If you are plugin author, take a look at the docs for migrating the plugin to the V2 embedding:

[2021-09-25 02:06] Caldarie commented on #17
@rhernandez-itemsoft Thanks for reporting this.

I will post an update soon.

[2021-09-25 08:35] Caldarie commented on #17
Hi @rhernandez-itemsoft

I have posted an update on 0.1.9. The plugin should now support Android V2 embedding.

Please let me know if you still see the error message.

[2021-09-26 03:11] #17 closed

[2021-10-14 20:42] jijkbird opened #18 "When it is opened and closed continuously, an exception occurs."
[✓] Flutter (Channel stable, 2.5.0, on macOS 11.6 20G165 darwin-x64, locale zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 31.0.0)
[✓] Xcode - develop for iOS and macOS
[✓] Chrome - develop for the web
[✓] Android Studio (version 4.1)
[✓] IntelliJ IDEA Ultimate Edition (version 2021.2.1)
[✓] VS Code (version 1.61.0)
[✓] Connected device (2 available)

_initial

[2021-10-15 06:06] Caldarie commented on #18
Hi @jijkbird

I was able to reproduce the error on android. Thank you for letting me know about this bug, I will provide an update in the near future!

[2021-10-17 07:52] Caldarie commented on #18
Hi @jijkbird,

I have provided a fix on version 0.2.0. Please let me know if you still experience the same error.

[2021-10-19 14:06] jijkbird commented on #18
It's solved. Thank you,

[2021-10-21 18:46] andrejvujic opened #19 "Permission request error"
[code]

[2021-10-22 01:16] Caldarie commented on #19
Hi @andrejvujic

Thanks for bringing up the issue.

If i may ask, did you receive this error from the example? Or are you using your own code with the plugin?

[2021-10-22 04:25] andrejvujic commented on #19
My own code, however I did everything like in the example.

On Fri, 22 Oct 2021 at 03:16 Michael Nguyen ***@***.***>
wrote:

[2021-10-22 04:29] Caldarie commented on #19
Hi @andrejvujic

I understand.

Considering that this is an unusual error, would it be possible for you to clone this project and run the example? I would like to know if you still receive the same error.

[2021-10-22 04:36] andrejvujic commented on #19
I have already run the example. It works perfectly, I only had to set the
ndkVersion to 16 in app/build.gradle because it wouldn’t compile. It’s a
problem with my project. I don’t know what it is, I’ve done everything like
shown on pub.dev.

On Fri, 22 Oct 2021 at 06:30 Michael Nguyen ***@***.***>
wrote:

[2021-10-22 04:38] Caldarie commented on #19
Hmm, if it's not too much to ask, would it be possible to share your project or a part of your code? Perhaps i can investigate the issue for you.

[2021-10-22 04:42] andrejvujic commented on #19
The project is large, it has about 16000 lines of code, so I couldn’t send
you the code. However I have a private GitHub repo I could give you access
to.

On Fri, 22 Oct 2021 at 06:39 Michael Nguyen ***@***.***>
wrote:

[2021-10-22 04:44] Caldarie commented on #19
That is no problem at all.

When sharing your repo, should i be aware of any Non Disclosure Agreements?

[2021-10-23 04:54] Caldarie commented on #19
@andrejvujic Hi,

I may have come up with a solution to your problem. For some unknown reason, the tflite_audio plugin is unable to get the context of your app.

Perhaps we could bypass the request for permission from this plugin, and instead you could use this [plugin](https://pub.dev/packages/permission_handler) to handle your permissions instead.

If you see no error with the permission_handler

[2021-11-04 20:36] joknjokn opened #20 "How to use multiple input parameters?"
Hi,

Is it possible to use a model where I should input some additional parameters, in addition to the audio?

[2021-11-04 22:44] Caldarie commented on #20
Hi @joknjokn

May I ask what the additional parameters are? I can implement this feature into the plugin, depending on its type

[2021-11-04 23:36] joknjokn commented on #20
I'm trying BirdNet's bird song model. It benefits from getting latitude, longitude and week-number (turned into cosine or something). I actually think I got hardcoded lat/lng working, but not entirely sure it's correct... It's giving results however. Had to modify rawAudio to use multiInputsOutputs:
[code]
Also, I printed both input shapes:
Input shape: [1, 144000]
Input shape 2: [1, 6]

I know it

[2021-11-04 23:51] Caldarie commented on #20
Hmm, besides hard coding your inputs, I see no problem with it so far. As long as your model outputs something, then you’re doing something right.

Was this the answer you were looking for?

[2021-11-04 23:55] joknjokn commented on #20
It also outputed before I added the multiInput. I think it might be more precise now, but difficult to say. It does recognize some common species.

However, I would like to make the lat/lng and week dynamic, so I guess the multiInput needs to be exposed to flutter. I think that would be a useful feature to your plugin. Maybe it could be made dynamic if the plugin lists the input shapes and takes t

[2021-11-04 23:59] Caldarie commented on #20
Thank you for the suggestion. I will definitely take a shot at adding a dynamic input feature.

I will keep you updated.

[2021-11-05 00:00] Caldarie commented on #20
If possible, could you share me your model to work with?

[2021-11-05 00:01] joknjokn commented on #20
It's available from the source here (Creative Commons):
https://github.com/kahst/BirdNET-Lite

[2021-11-05 00:02] Caldarie commented on #20
Many thanks!

[2021-11-07 13:28] joknjokn opened #21 "Is it possible to record the audio at the same time?"
Hi,

I'm wondering if it's possible to record audio at the same time the model is running?

Basically, I want to build something that saves snippets of the audio when specific things are detected.

Thanks,
Jonas

[2021-11-07 14:12] Caldarie commented on #21
hi @joknjokn,

Its possible for a model to output the starting and ending time when it detects a specific sound. However, this is based on how you train your model, not on this plugin.

As for saving the audio file, I have yet to implement this feature on this plugin, but its doable. You can manually splice the audio once you have saved the file, or edit the plugin yourself to do so asynchronously

[2021-11-11 04:24] Caldarie commented on #20
hi @joknjokn,

I have experimented with the idea of dynamic inputs and have succeeded in implementing it on android. If you're interested in taking a look, you can find it on this branch [here](https://github.com/Caldarie/flutter_tflite_audio/tree/experimental_dynamic_input )

So far, its limited to float values and one additional input; however, i do plan to make this dynamic as well.

Let me kno

[2021-11-16 16:19] bobosette opened #22 "Start analyze audio only after threshold (decibels)"
Hi everybody. Do you know if it's possible starting analyze audio only when that audio exceeds a threshold (decibels)?

[2021-11-16 22:12] Caldarie commented on #22
Hi @bobosette,

it’s possible. Though you may need to customise this package to do so if you’re willing to tinker a bit with Java and Swift.

you’re more than welcome to contribute to this plugin, if you’re willing to share of course.

[2021-11-17 13:40] bobosette commented on #22
I tried to make a sort of merge of the usability between noise_meter package ( it let me check if an audio source gets higher than a threshold) and tfl_audio. It works, but the result doesn't seem perfect to me. But I don't know if that is the right way to implement what I want to do. I have to record/listen audio for a long time (at least 4 hours) and inside this time window i have to check/analy

[2021-11-18 01:05] Caldarie commented on #22
I think it’s fine to use both packages, though I think you may experience a delay as these two may need time to communicate with one another. In my opinion, you could potentially reduce this delay if you directly modify the tflite audio package to detect decibels as well.

As for your next question, it’s possible to extend the detection/recording time by adjusting the parameter `numOfInferences` i

[2021-11-18 07:40] bobosette commented on #22
I have to detect a sound (for example you can imagine a song theme (30 sec) which is going to be played a number of times) and i want to detect how many times that sound will be played.
I have already tried to play with numOfInferences parameter but i didn't understand, this parameter is about the time (seconds) of analys?

[2021-11-18 09:26] Caldarie commented on #22
**Explaination for numOfInference**

Each model has a maximum recording length. For example, for GTM models, the maximum recording length is around 44032, which is around 1 to 2 seconds if your bufferSize is 22050.

What `numOfInference` does is that it will extend the recording by looping over the maximum recording length, as well as return multiple inferences. For example:
`numOfInference = 3` w

[2021-11-18 09:43] bobosette commented on #22
Ok now I understood. And if I want to extend the recording/analysis to at
least 4 hours I have to change numOfInference from 1 to almost 14000, is it
correct?

Il Gio 18 Nov 2021, 10:27 Michael Nguyen ***@***.***> ha
scritto:

[2021-11-18 09:55] Caldarie commented on #22
That is correct. But if you want to stop precisely at 4 hours, I suggest that you set numOfInferences to a very high number like 99999. Then set a timer to four hours on flutter and call `stopAudioRecognition.` from the plugin

[2021-11-18 10:07] bobosette commented on #22
Yes. You're right. Thanks man. I will let you know

Il Gio 18 Nov 2021, 10:55 Michael Nguyen ***@***.***> ha
scritto:

[2021-11-18 10:31] bobosette commented on #22
Just another little thing. Can I get the percentage of the result? I saw that on the console when there is a result it prints Raw Scores: [0.98527735, 0.003569071, 0.011153544]. Where can I get this list?

[2021-11-18 10:35] Caldarie commented on #22
I have yet to implement that feature yet, but i will provide an update in the very near future.

[2021-11-19 15:14] bobosette commented on #22
Hi @Caldarie. I tried to set numOfInferences = 99999, first time I did the recognition everything worked fine, but if I stopped, and then I started again I got this error: java.lang.OutOfMemoryError: Failed to allocate a 2536243216 byte allocation with 6291456 free bytes and 298MB until OOM, target footprint 95760752, growth limit 402653184
E/AndroidRuntime(31894): 	at flutter.tflite_audio.TfliteA

[2021-11-20 02:55] Caldarie commented on #22
@bobosette thanks for the detailed bug report.

I’ll investigate it soon and will let you know.

[2021-11-20 08:02] bobosette commented on #22
Maybe is that a way to delete the cache or something similar??
Cause it seems that when the service starts it allocates some memory. When
the service stops it should release it. Is it right?

Il Sab 20 Nov 2021, 03:55 Michael Nguyen ***@***.***> ha
scritto:

[2021-11-20 08:18] Caldarie commented on #22
Yes that is correct. It seems this is the offending code:

[code]

As you could imagine, there's a limit to the size of an array. 99999 would probably cause the crash.

I'm thinking of using two arrays and swap it interchangeably when one array fills up, while resetting the other. Though, it's a bit difficult to implement.

[2021-11-20 08:27] bobosette commented on #22
I could try to do something. Where is that part of code??

Il Sab 20 Nov 2021, 09:18 Michael Nguyen ***@***.***> ha
scritto:

[2021-11-20 08:36] Caldarie commented on #22
Any help would be greatly appreciated.

As you could see, the code below is overly complex and needs to be replaced. (Ive been needing to do so but just havent had time)

Goal is to replace all of the code below, and set two recording buffer arrays. The reason being that should there be a spill over (e.g. 16200/16000 which leaves a remaining 200), the remaining will be appended to the second array

[2021-11-20 08:46] bobosette commented on #22
Mmm ok. I will try to do something. But, check this use case scenario: I
start recording, 4/5 hours, then I stop and I navigate to another page
showing the results and I destroy the recording page. Then I rebuild
recording page and I instantiate again the TflAudio. In this case, the
cache should be free, or not?

Il Sab 20 Nov 2021, 09:36 Michael Nguyen ***@***.***> ha
scritto:

[2021-11-20 08:47] Caldarie commented on #22
I think cache should be free. I’d imagine cache would accumulate too much

[2021-11-20 08:50] bobosette commented on #22
Ok ok. I will try something and I will let you know. Thank you

Il Sab 20 Nov 2021, 09:48 Michael Nguyen ***@***.***> ha
scritto:

[2021-11-21 00:03] bobosette commented on #22
here I am. Some updates. I tried to add on the android app manifest this line: android:largeHeap="true" so the application part of the example sounds like this: <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="tflite_audio_example"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true">
        <activity

And it works, without losing

[2021-11-21 01:29] Caldarie commented on #22
Hi @bobosette,

many thanks for looking up a solution. Appreciate he assistance.

I had a look at the link you’ve provided and it does indeed help with our problem. As you said, there may be no issues now; but, I feel this may  cause unexpected problems down the line. Particularly when not everyone has access to high performance devices, or are running multiple apps at the same time.

as for iOS,

[2021-11-21 01:47] bobosette commented on #22
Yes, you're right, is not the solution. I'm doing many tried and it slows
down the animation and the performance. We have to try something different

Il giorno dom 21 nov 2021 alle ore 02:29 Michael Nguyen <
***@***.***> ha scritto:

[2021-11-21 09:46] bobosette commented on #22
Another question: does the service work if the app is in background? I did
some tries but it seems not to work.

Il Dom 21 Nov 2021, 02:47 Roberto Bobo Prandin ***@***.***>
ha scritto:

[2021-11-21 11:42] Caldarie commented on #22
Unfortunately, I'm not knowledgeable with running the plugin in the background. Though, i think this is more of a flutter thing than the plugin in itself.

Good news is i found a solution in regards to the `OutOfMemoryError` and have successfully implemented in android. Once i sucesfully implemented the feature with outputting raw scores and upload the update, i will let you know.

[2021-11-21 11:46] bobosette commented on #22
Oh perfect. Thank you, please let me know cause I have to implement this feature in a project as soon as possible. But for ios is the service working?

A solution for the background could be tell flutter to force the app to stay in foreground, so the phone will not stanb by

[2021-11-21 14:03] Caldarie commented on #22
For the iOS, i think there is no problem considering that array size don't need to be fixed.

The problem is only with java since arrays need to be fixed for performance.

[2021-11-21 15:19] bobosette commented on #22
Oh perfect. Thank you. Let me know when you update cause I need to
implement this in a project as soon as possible 😅.
For the background I'm reading these articles that maybe can help us:

https://pub.dev/packages/flutter_background

https://medium.com/vrt-digital-studio/flutter-workmanager-81e0cfbd6f6e

Il Dom 21 Nov 2021, 15:04 Michael Nguyen ***@***.***> ha
scritto:

[2021-11-22 19:20] JLiao98 opened #23 "How do I keep the stream listening"
I need to make an app that can continuously listen to the ambient sound. But the example can only work once and require restarting the audio recognition. Is there a workaround to achieve continuous listening?

[2021-11-23 00:54] Caldarie commented on #23
Hi, have you tried setting numOfInference to a higher value? This parameter allows you to set how many times you want to loop the recognition. The stream will not close until the loop is finished.

Just to note, there’s currently a bug with android if you set numOfInference to a very high value, for example `numOfInference = 9999.` I aim for address this issue very soon.

[2021-11-23 11:57] bobosette commented on #22
Hi @Caldarie . Any update??

[2021-11-23 12:02] Caldarie commented on #22
I am currently testing for bugs.

 Please be patient as I have been busy with other work lately.

[2021-11-23 13:14] bobosette commented on #22
Sorry man. I can perfectly understand. I'm also busy with a lot of projects.

Il Mar 23 Nov 2021, 13:02 Michael Nguyen ***@***.***> ha
scritto:

[2021-11-23 15:05] Caldarie commented on #22
hi @bobosette

Good news, i have published the new update on  [dart pub](https://pub.dev/packages/tflite_audio)

There should be no problems with memory crash on android.  Seems like memory was issue for iOS, so I also fixed iOS as well.

I also added the ability to output rawScores. Check the example to see how to turn on this feature.

I have done alot of testing, but I may have missed on or two

[2021-11-23 15:08] Caldarie commented on #23
hi @JLiao98

Good news, i have published the new update on dart pub. This should fix the memory issue when keeping the stream listening for a long period of time. You can set it `numOfInference = 99999` if you wish to run it almost indefinitely.

Please let me know if you run across any bugs.

[2021-11-24 08:24] bobosette commented on #22
Great @Caldarie. I tryed the update and the memory bug is fixed. Thank you. But, question: where can I get the rawScores?

[2021-11-24 08:26] bobosette commented on #22
For the background, when I'm debuggin I see from the console that the recognizer keep going also in background but when I come back in foreground it seems to doesn't update the count of relevation

[2021-11-24 08:44] Caldarie commented on #22
Basically set outputRawScores to true as shown on the example below:

[code]

I am not sure that i follow you. Are you asking as to how to keep the stream running in the background? If so, unfortunately i am not knowledgable in this area. Perhaps this [link](https://docs.flutter.dev/development/packages-and-plugins/background-processes) could give you some hint?

[2021-11-24 09:41] bobosette commented on #22
No I'm saying that the stream seems to running also in background, cause in
the IDE console I can see that it prints (for example rawScores) also when
the app 9s in background

Il Mer 24 Nov 2021, 09:44 Michael Nguyen ***@***.***> ha
scritto:

[2021-11-24 10:39] Caldarie commented on #22
I see. The issue you are looking at seems to be related to the [flutter background](https://pub.dev/packages/flutter_background) plugin. Honestly speaking, i am unsure how foreground and background processes work.

Can you try opening the issue over there? Perhaps if they offer a solution, I can implement it as a fix to this plugin.

[2021-11-24 11:14] #19 closed

[2021-11-24 11:14] #21 closed

[2021-11-24 12:26] bobosette commented on #22
Mmm I could try following this article https://medium.com/flutter/executing-dart-in-the-background-with-flutter-plugins-and-geofencing-2b3e40a1a124 . But you should tell me both for android and ios what methods/functions I should run in background

[2021-11-26 09:22] bobosette commented on #22
Hi @Caldarie . I tried the update. Works fine, no more memory issues. Thank you. Today I'm working on the background. I will let you know.

[2021-11-26 11:55] Caldarie commented on #22
I’m glad to hear that.

if you have found that this project has been useful to you, please consider giving your support with a like or a star. Thankyou

[2021-11-26 11:56] #22 closed

[2021-11-26 12:01] #23 closed

[2021-12-02 17:19] PeteSahad opened #24 "Making predictions with MFCC/stored audio file"
Hi,

I'm very new to the topics flutter and tensorflow. Just so you know that maybe some things I ask may not make any sense :).

I'm trying to build an app that allows me to record some audio samples. Then I would like to do some classification with the recorded files.

My questions are:
- Is it possible to make a prediction with a recorded file instead of using the audio stream? (á la model.pred

[2021-12-03 03:54] Caldarie commented on #24
Hi @PeteSahad

To answer your question:

~~1. Currently, the plugin has no feature to use recorded audio. However, it is possible to implement this on the plugin if you were to convert the audio file to PCM16. I had planned to implement this feature in the future, but haven’t had the time to do so. If you’d like to collaborate and take a shot at it, let me know,~~
**This is now available on packag

[2021-12-03 12:09] PeteSahad commented on #24
Hi Michael,

thanks for the very quick response!

As of right now I'm more or less toying around with how to perform the classification. The requirements are yet unclear whether I need stored audio files or do it on the fly. I'm rather looking around for potential solutions.

But if I wont find any other solutions it would absolutely make sense for me to base my further work on your solution. Howe

[2021-12-03 12:28] Caldarie commented on #24
Hi @PeteSahad,

No problems at all.

If you have any questions, let me know. I would be happy to assist you if i can.

[2021-12-03 14:47] Caldarie commented on #10
Hey guys, I have found the cause and fixed the problem. Seems like it was right under my nose. Will now close the issue

[2021-12-03 14:47] #10 closed

[2021-12-04 11:16] zxl777 opened #25 "iOS build error (Solved. Pinned for reference)"
The solution may be here
https://github.com/tensorflow/tensorflow/issues/52042

Build Error
[code]

[2021-12-04 12:43] Caldarie commented on #25
hi @zxl777

Thanks for searching up the issue for me.

I am having difficulties reproducing the issue. May i ask whether you get the same error on the example from this repository?

Also looking at the link that you have provided, it seems that force loading is a potential solution. In that case, have you tried following the instructions from [here](https://github.com/Caldarie/flutter_tflite_audio

[2021-12-04 12:53] zxl777 commented on #25
Change to this to work.
`pod'TensorFlowLiteSelectTfOps','~> 2.6.0'`

[2021-12-04 12:55] Caldarie commented on #25
Awesome! I will keep this issue open for others to see.

Once again, many thanks for investigating this issue.

[2021-12-06 18:24] kyle-joseph opened #26 "Recognition Raw Scores returns [NaN, NaN, NaN, NaN]"
Hi @Caldarie
I found a problem when I used GTM model. The Raw Score returns Nan with the latest version 0.2.1+1

D/AudioRecord(27796): stop(1446): 0x7543619a00, mActive:0
D/AudioRecord(27796): ~AudioRecord(1446): mStatus 0
D/AudioRecord(27796): stop(1446): 0x7543619a00, mActive:0
D/Tflite_audio(27796): Recording stopped.
V/Tflite_audio(27796): Raw Scores: [NaN, NaN, NaN, NaN]
D/Tflite_audio(27796)

[2021-12-06 20:08] Caldarie commented on #26
Hi @kyle-joseph

It very likely the audio file isn’t being fed properly into the model. Though, I’m unsure why as of this moment.

To help me pinpoint the problem:

1. can you provide the full logs?
2. Try the example gtm model from this repository and tell me if you receive the same error?
3. Tell me the values of your arguments from loadModel() and startAudioRecognition()?
4. Tell me whether you

[2021-12-07 03:38] kyshr commented on #26
Hello @Caldarie
These are the parameters of the loadModel and startAudioRecognition(). I only used android platform.

    TfliteAudio.loadModel(
      model: 'assets/model/coconut_acoustic_tm.tflite',
      label: 'assets/model/labels3.txt',
      inputType: 'rawAudio',
      numThreads: 1,
      isAsset: true,
    );
  }

result = TfliteAudio.startAudioRecognition(
          sampleRate: 44100,

[2021-12-07 03:48] kyshr commented on #26
V/Tflite_audio(17859): Raw Scores: [0.0022259208, 0.025381595, 0.6674544, 0.30493808]
D/Tflite_audio(17859): Recognition stopped.
V/Tflite_audio(17859): result: {hasPermission=true, inferenceTime=86, recognitionResult=Overmature}
V/Tflite_audio(17859): Reached indicated number of inferences.
D/AudioRecord(17859): stop(1523): 0x7568a85a00, mActive:1
V/Tflite_audio(17859): Recognition started.
V/Tfl

[2021-12-07 03:58] Caldarie commented on #26
many thanks for the logs.

Ah, that is a very peculiar bug. Is this with android or iOS?

[2021-12-07 04:01] kyshr commented on #26
You can view the full logs here.

https://docs.google.com/document/d/1hIVfPcQf0wxMbtMsWxO7sg8ykNX5afVO/edit?usp=sharing&ouid=114486676121174629562&rtpof=true&sd=true

I only used android @Caldarie . I don't know with iOS since I only use windows pc.

[2021-12-07 04:05] Caldarie commented on #26
Understandable.

 I will Investigate the issue and keep you updated

[2021-12-07 04:16] kyshr commented on #26
Thank you so much @Caldarie since I really depend on your project for my Undergraduate Thesis. In my project I badly needed the raw scores to display the percentage of the inference.

[2021-12-07 04:43] Caldarie commented on #26
Hi @kyle-joseph

I have found the offending code.

I will post an update soon.

[2021-12-07 09:21] Caldarie commented on #26
hi @kyle-joseph

I have provided a fix in version 0.2.1+2. Please let me know if you still encounter the issue.

[2021-12-07 10:41] kyshr commented on #26
Thank you so much @Caldarie

[2021-12-07 14:02] zxl777 opened #27 "Can you make audio-classification by YAMNet model?"
download the YAMNet model from https://tfhub.dev/google/lite-model/yamnet/classification/tflite/1

[2021-12-07 14:11] Caldarie commented on #27
Looking at the input (float32[15600]) and output (float32[1,521]), it looks like you can load it with rawAudio.

If it doesn't work, you can modify the code to fit the input and output. To find these values, load your model [here](https://netron.app/) and adjust the values on this packages accordingly.

[2021-12-07 14:31] zxl777 commented on #27
Can you take a look at the introduction of yamnet,
which was originally the most authoritative audio classification model of Google.

https://tfhub.dev/google/yamnet/1

https://www.tensorflow.org/lite/examples/audio_classification/overview

[2021-12-07 22:31] Caldarie commented on #27
I’m sorry, I’m not sure that I follow your request.

Are you asking whether this model is adaptable to this plugin?

[2021-12-25 03:57] Caldarie commented on #24
Hey guys, just and update that I’m currently working on making predictions using stored audio. I will post an update once I get it to work.

[2021-12-26 05:58] #26 closed

[2021-12-29 19:20] PeteSahad commented on #24
awesome news!

I'm currently working on a different project but I'll get back to my audio project in a few weeks. I guess I'll definetly going to use that feature!

I was also thinking about the mfcc and feature extraction. I found another project which allows using librosa functionality in java -> JLibrosa. I'm not sure if right now if this project is further maintained, but I tried some stuff an

[2021-12-30 05:28] Caldarie commented on #24
Ah, thanks for the input. I had planned to transcribe the JLibrosa library to swift, but hadn't had the chance to do so. I may work on this feature once i'm done with my current project.

As for the loading audio feature, its a difficult one to implement (especially on android). You can find my progress [here. Its on a different branch from master.](https://github.com/Caldarie/flutter_tflite_audio

[2022-01-02 10:43] bobosette opened #28 "Reducing false positives/ non divisible bufferRate outputs NaN"
Hi @Caldarie. I'm facing an issue reguarding the detection. I create my model with a lot of samples to recognize a certain noise, it works pretty well but tflite_audio recognizes also other noises like the one I would like to recognize. How can I fix this to adjust precision? Maybe I have to play with this parameters: detectionThreshold, averageWindowDuration, minimumTimeBetweenSamples, suppressio

[2022-01-02 11:11] Caldarie commented on #28
Hi @bobosette,

If I am interpreting your issue correctly, you would like to output a specific noise while ignoring the others. Is that correct?

In that case, you could set the parameter `outputRawScores` as true. This should give you an array in string format `"[0.2, 0.6, 0.2]"`. Each element represents how likely the model interprets a specific noise, for example [yes = 20%, no = 60%, left = 20

[2022-01-02 11:31] bobosette commented on #28
I already do this. My problem is with the false positive. But I can't understand if is a model problem or a tflite settings problem

[2022-01-02 14:57] Caldarie commented on #28
In that case, increase your detectionThreshold to a higher threshold to reduce false positives. 0.7 is a good number, though you can push it to 0.8 if you have a really good model.

if you’re still are receiving false positives, then it’s highly likely the problem lies with your model.

[2022-01-02 19:53] bobosette commented on #28
Ok thank you. And what if I change the buffersize (lower) to get more
recognized time?
Il Dom 2 Gen 2022, 15:57 Michael Nguyen ***@***.***> ha
scritto:

[2022-01-02 20:43] Caldarie commented on #28
Lowering the bufferSize will increase recording time. However, as mentioned in the documentation, can reduce your model’s accuracy if lowered too much,

[2022-01-02 20:55] bobosette commented on #28
I will do some tries and i will let u know

Il Dom 2 Gen 2022, 21:44 Michael Nguyen ***@***.***> ha
scritto:

[2022-01-03 00:23] bobosette commented on #28
`TfliteAudio.startAudioRecognition(
    sampleRate: 44100,
    recordingLength: 44032,
    bufferSize: 8000,
    numOfInferences: 99999,
  );`

with 44032, if I put buffersize < 22016 the recognizer doesn't work,ì and I get this array of scores [NaN, NaN, NaN].
Now I will try to change
detectionThreshold to 0.6 and averageWindowDuration to 1500

[2022-01-03 10:23] Caldarie commented on #28
Hi, I will take a look at this possible bug.

In the mean time, can you try only changing `detectionThreshold`? ` averageWindowDuration` may cause scores to output NaN.

[2022-01-03 10:30] Caldarie commented on #28
Ah, yes you are right. There is a strange bug with lower values.

I will need time to investigate this.

[2022-01-03 11:05] bobosette commented on #28
Best configuration I found at the moment is:
detection threshold 0.7
averagewindowduration 1500 (never had NaN issue)

Il lun 3 gen 2022, 11:30 Michael Nguyen ***@***.***> ha
scritto:

[2022-01-03 13:09] Caldarie commented on #28
Hi, I have done some testing and have a general understanding to the issue.

1. The nan problem - it seems that if you use values that are not divisible to the recording length, i.e. 44032 you will get nan output. **To fix this problem, use values that are divisible, for example: 44032, 22016, 11008, 5504...** (If you absolutely want to use non divisible values, I will add a fix later, though it m

[2022-01-03 17:15] bobosette commented on #28
Great. I tried with 11008 and I saw some improvements

Il Lun 3 Gen 2022, 14:09 Michael Nguyen ***@***.***> ha
scritto:

[2022-01-04 03:13] Caldarie commented on #28
Hi, good news. I have finally fixed the problem.

This update will be released with a planned feature, which features inferences on stored audio.

[2022-01-04 10:09] bobosette commented on #28
Great

Il giorno mar 4 gen 2022 alle ore 04:13 Michael Nguyen <
***@***.***> ha scritto:

[2022-01-05 14:49] bobosette opened #29 "Android Permission bug"
Hi @Caldarie . I found another issue to fix. On my app it's the dart code which ask for permission (It asks for all the permissions inside the home page > I need to do this cause tflite_audio is not the only package that need permissions). When the app ask for the permission and user grants them, I don't know why but tflite_audio shows a dialog with this message: 'Microphone permission denied. Go

[2022-01-05 14:53] Caldarie commented on #29
hi @bobosette

Many thanks for reporting various bug. Really appreciate it.

I will investigate the issue. It seems that Java/android has been giving me alot of bugs lately compared to iOS. I may consider rewriting the whole plugin to kotlin in the future :laughing:

[2022-01-05 14:55] bobosette commented on #29
Incredible. Usually is the opposite. Let me know if you fix it

[2022-01-05 14:56] Caldarie commented on #29
Yeah.. i feel java is overly complicated and rigid. I end up writing perhaps 30 to 40% more code in java compared to swift..

[2022-01-05 15:03] bobosette commented on #29
I don't know cause I didn't learn swift. Only a little bit to work with flutter platform channel.

[2022-01-05 15:16] Caldarie commented on #29
Hi, it seems you are right. There are some strange behaviours with the master version.

Fortunately, this [branch](https://github.com/Caldarie/flutter_tflite_audio/tree/feature/inference_on_stored_audio) im working on does not seem to exhibit the same problem.

As you have a different device than I, perhaps you can test this branch for me to see if you still have the same problem?

[2022-01-05 15:18] bobosette commented on #29
Ok I will try and I'll let you know

Il giorno mer 5 gen 2022 alle ore 16:17 Michael Nguyen <
***@***.***> ha scritto:

[2022-01-05 15:51] Caldarie commented on #29
Thanks. Please do let me know. I do hope to publish new update very soon.

[2022-01-06 09:22] bobosette commented on #29
It works. No more permission dialog if I granted before. Thank you

Il giorno mer 5 gen 2022 alle ore 16:51 Michael Nguyen <
***@***.***> ha scritto:

[2022-01-06 11:38] Caldarie commented on #29
Many thanks for the test. I will release an update very soon. Includes many stability fixes as well.

[2022-01-07 05:10] Caldarie commented on #24
Hi, I have published a new release 0.2.2+2. This should allow you to make inferences on stored audio.

If you do run on any bugs, please let me know.

[2022-01-07 05:12] Caldarie commented on #29
Hi, i have published the new package 0.2.2+2. Please let me know if you run into any bugs.

[2022-01-07 05:22] #25 closed

[2022-01-07 05:23] #28 closed

[2022-01-07 13:20] #11 closed

[2022-01-10 10:31] Caldarie commented on #24
Hi @PeteSahad,

I hope it’s not too much to ask, but I was wondering if you could help clarify with a concept, since you had some success with the Jlibrosa library.

I’ve been trying to wrap my head with MFCC at a deeper level, but could not figure out how to feed the spectrogram (extracted from the library) to the model. How did you manage it? What values did you use for your parameters? I.e mel_

[2022-01-10 15:14] PeteSahad commented on #24
Hi Caldarie,

unfortunately I didn't make it very far yet. Had to work on another project.

I used the following parameters:
[code]
[code]

However, I don't really use the spectogram when building the model. I just used the two functions above to verify that they create the same values - which they do. [I went step by step to figure out whats done in python and what the equivalent in java would be

[2022-01-10 15:30] PeteSahad commented on #24
looked into it and figured, if you write garbage code - you get garbage data ;).

I now get the correct data for **jLibrosa.generateMeanMFCCFeatures**.  I will now try to build the model in java with this data...

[2022-01-11 11:27] Caldarie commented on #24
Hi @PeteSahad

Many thanks for sharing your  information. Appreciate it.

Been trying to implement  Mel-spectrogram or MFCC as an Input type for this plugin. Unfortunately, the information out there isn’t very straightforward with how to fit the spectrogram to the models input shape,

if you do come across such information, do let me know.

[2022-01-13 14:43] Caldarie commented on #24
Hi @PeteSahad

I would like to do a few tests for MFCC, but I don’t have a model with that input type. Would you be willing to share a model? Any model is fine, as long as it has MFCC as the input.

[2022-01-13 19:06] PeteSahad commented on #24
I only have this basic model for testing: [https://drive.google.com/file/d/10ixguuoUKxsryu0MhNZcS19BqNNeOOWD/view?usp=sharing](url)

It has two labels (cough/hiss) to distinguish between a hiss and a cough (who would have guessed...)

Input tensor is (1/40)

[2022-01-17 10:37] Caldarie commented on #24
hi @PeteSahad

Thanks for the model.

Just an update: Although i ran across some problems with rubbish outputs (NaN and Infinite), i had solved the problem by padding those values with real numbers.

Once, I figure out how to get iOS/swift running, I will publish an update.

[2022-01-19 16:15] bobosette opened #30 "iOS issue with Background service plugin / outputRawScores"
Hi @Caldarie. I'm testing the app on iOS but the package doesn't work. I have followed the guidelines for the implementation but it still doesn't work. This is the exception:

`Unhandled Exception: MissingPluginException(No implementation found for method loadModel on channel tflite_audio)
#0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:165:7)
<asynchronous

[2022-01-20 02:00] Caldarie commented on #30
Hi @bobosette

thanks for reporting a potential bug. I will get back to you once I have investigated the issue.

[2022-01-20 07:43] bobosette commented on #30
I did more test and I noticed that your example work, so maybe in my app there's a configuration problem. I'll let you know

[2022-01-20 07:47] Caldarie commented on #30
Please do. Also i have updated the instructions to be clearer on readme to help you with the installation.

Edit: I also added more pictures as well.

[2022-01-20 07:50] bobosette commented on #30
I followed those. But it didn't work. And your example work. Now I have to
investigate to find the differences

Il Gio 20 Gen 2022, 08:47 Michael Nguyen ***@***.***> ha
scritto:

[2022-01-20 08:07] Caldarie commented on #30
What I meant was that I added new instructions just now.

I had tested the instructions on the readme, and fixed some outdated information.

[2022-01-20 08:44] bobosette commented on #30
Ah ok 🤣

Il Gio 20 Gen 2022, 09:07 Michael Nguyen ***@***.***> ha
scritto:

[2022-01-20 10:33] bobosette commented on #30
Still doesn't work. But I can believe it, the configuration is exactly the same of your example app

[2022-01-20 10:35] bobosette commented on #30
It's like the platform channel doesn't find all tflite method: load Model, startAudioRecognition, stopAudioRecognition

[2022-01-20 10:47] Caldarie commented on #30
If you're willing to share your project with me, I can take a look for you.

[2022-01-20 10:52] bobosette commented on #30
I'm doing a final test. The app runs the recognizer as a background service
cause it has to work both in foreground and in background. To do this I'm
using flutter_background_service. On Android it works perfectly, but maybe
on iOS throws this exception.

Il Gio 20 Gen 2022, 11:47 Michael Nguyen ***@***.***> ha
scritto:

[2022-01-20 10:56] Caldarie commented on #30
In that case can you try this for me? I believe that iOS has not properly installed the plugin. In that case you can try on the terminal:

1. `flutter pub add tflite_audio`
2. Run `flutter pub get`
3. CD into project iOS folder and run `pod install`
4. Run `flutter clean`
5. Run `flutter run`

This should rebuild it

[2022-01-20 11:42] bobosette commented on #30
I tried this: in my app I added an example page with the code of your
example app: and it's work, so the problem is between tflite-audio and the
background service, that running into an isolate.
But I can't understand why on Android everything works fine

Il Gio 20 Gen 2022, 11:56 Michael Nguyen ***@***.***> ha
scritto:

[2022-01-20 12:33] bobosette commented on #30
Ok...I found something. If I put outputRawScores = true the app crashes.
If I put false it works (only foreground,  not background).

Il Gio 20 Gen 2022, 12:42 Roberto Bobo Prandin ***@***.***>
ha scritto:

[2022-01-20 12:48] Caldarie commented on #30
Hi, thanks for pointing out the bug. It seems this release has a lot of bugs due to how complex this plugin has become. Very difficult to find as well.

as for your dilemma, maybe you’re experiencing something like [this?](https://stackoverflow.com/questions/63505747/how-to-implement-a-background-task-in-flutter-that-watches-the-time)

[2022-01-20 13:27] Caldarie commented on #30
Hi, when you say it crashes, do you mean it crashes when you use background service? Or it crashes without the background service?

[2022-01-20 13:44] bobosette commented on #30
Without background service: if I put outputRawScores = true THE APP CRASHES

With background service: I have missing plugin implementation

For the background service I have to implement something like that but I'm
using flutter_background_service and on android it works very well.

Do you think you can fix the outputRawScores bug? Cause for the logic of my
app I need percentages!!!

Then we have

[2022-01-20 13:45] Caldarie commented on #30
To help me pinpoint the issue, can you post the logs for me?

[2022-01-20 13:54] bobosette commented on #30
For the outputRawScores bug I can't give you a log, cause when I debug and
I start tflite audio it doesn't thrown an exception, it says LOST
CONNECTION TO DEVICE. EXITED SIGTERM

Il Gio 20 Gen 2022, 14:45 Michael Nguyen ***@***.***> ha
scritto:

[2022-01-20 14:37] Caldarie commented on #30
Usually, you can get the logs if you run it on xcode.

[2022-01-20 14:46] bobosette commented on #30
Mmm ok I can try but unfortunately not now cause I don't have a Mac at
home, only at work.
Do u know what it could be happened?

Il Gio 20 Gen 2022, 15:37 Michael Nguyen ***@***.***> ha
scritto:

[2022-01-20 15:13] Caldarie commented on #30
Just making sure, you are using this [plugin](https://github.com/JulianAssmann/flutter_background) correct?

If yes, than I may know the reason why it does not work with iOS. According to the description `A plugin to keep flutter apps running in the background. Currently only works with Android.`

[2022-01-20 16:21] bobosette commented on #30
No. I'm using this one: https://pub.dev/packages/flutter_background_service.

But the outputRawScores bug happen also in normal condition, without background service. For this bug, what could be happened?

[2022-01-20 23:43] Caldarie commented on #30
Hmm, it’s difficult for me to locate the bug. If you do get the logs on Xcode, please let me know.

[2022-01-21 17:18] bobosette commented on #30
Hi @Caldarie . Even if I can't give you more details about the outputRawScores bug, I found that bug also in your example, so you can easily reproduce it. Indeed, if you run your example app with outputRawScores  = true the app crashes.

[2022-01-22 05:30] Caldarie commented on #30
Hi @bobosette,

I had run tests on the example and on a new app for IOS, and am unable to reproduce the bug when using `outputRawScores = true`. You can find my logs below:

<img width="1010" alt="Screen Shot 2022-01-22 at 14 26 00" src="https://user-images.githubusercontent.com/42107315/150626138-c2e57e61-f022-489e-aaed-3714e6fc2a2d.png">

If you can get the logs for me somehow, I may be able to

[2022-01-22 07:18] bobosette commented on #30
Mmm ok. Is it possible that the problem was the device? Currently i can test only on an iphone 6!!! Maybe is it too old???

[2022-01-22 07:31] Caldarie commented on #30
Difficult to say. I’m running the tests on an iPhone 7, just one generation above iPhone 6.

I honestly am not sure where the problem lies. It could be an asynchronous operation, event could be null, incorrect configuration, many things,

[2022-01-22 08:35] bobosette commented on #30
Unfortunately I can't give you a feedback from xcode cause I'm not able to
run the app on xcode.
Using vscode no problem, but if I try to run it on xcode the build failed.
I tried everything, I don't know.

Il Sab 22 Gen 2022, 08:31 Michael Nguyen ***@***.***> ha
scritto:

[2022-01-22 08:51] Caldarie commented on #30
Understandable. No problems at all.

as for the background service, I think the reason it’s not working with this plugin is due to this function here: `Enable background_fetch capability in xcode (optional)`.

From what I gather, iOS is very strict with background processes. Perhaps enabling this function will work. I can test this and get back to you.

[2022-01-22 11:49] bobosette commented on #30
I've already enabled this function. flutter_background_service works with an isolate. I have to put all the code i want to work also in background inside this onStart() function and when flutter_background_service is called this function start.
On Android works fine, on ios I get this strange error => missing plugin implementation but I don't understand why it should throw this error

[2022-01-22 12:28] Caldarie commented on #30
If you dont mind, can you provide a snippet code on how you implemented `flutter_background_service` with `tflite_audio`? I would like to test this problem.

[2022-01-22 14:40] bobosette commented on #30
This is the onStart() function. You can use this one like the example here https://pub.dev/packages/flutter_background_service/example

[code]

[2022-01-24 22:48] bobosette commented on #30
Hi @Caldarie . I have some news regarding the outputrawscores bug. I was able to run the app on Xcode and this is the stack trace:

2022-01-24 23:38:48.027009+0100 Runner[1500:344782] Metal API Validation Enabled
2022-01-24 23:38:49.703683+0100 Runner[1500:345332] flutter: Observatory listening on http://127.0.0.1:53245/x8B8jQDppKw=/
2022-01-24 23:38:50.686115+0100 Runner[1500:344782] Initialized

[2022-01-25 03:33] Caldarie commented on #30
Hi, sorry for the late reply.

Bit busy with work lately. I will get back to you when I have some time.

[2022-01-25 12:20] #29 closed

[2022-01-28 08:13] bobosette commented on #30
Hi @Caldarie . Do you have news???

[2022-01-28 08:53] Caldarie commented on #30
hi @bobosette , i will take a look at your problem sometime around next week. Unfortunately,  this week has been very busy with work

Is your project urgent by the way?

[2022-01-28 09:07] bobosette commented on #30
Should be urgent 😅! But I can understand if you're busy, job is job.

[2022-02-01 11:15] Caldarie commented on #30
Hey, sorry for the long wait.

Can you tell me where you got this `math.max` from?

[2022-02-01 11:25] bobosette commented on #30
Is a function from dart math to get the max number in a list.

Il Mar 1 Feb 2022, 12:15 Michael Nguyen ***@***.***> ha
scritto:

[2022-02-01 11:28] Caldarie commented on #30
I have used dart math, but got this error instead.

[code]

[2022-02-01 11:35] bobosette commented on #30
That part of code works. I'm sure cause with android. With ios i can't
arrive to thst point,  the app crash before

Il Mar 1 Feb 2022, 12:28 Michael Nguyen ***@***.***> ha
scritto:

[2022-02-01 11:43] Caldarie commented on #30
Oh ok, no problems. Ill let you know how my investigation will go

[2022-02-01 12:05] bobosette commented on #30
Thank you

Il Mar 1 Feb 2022, 12:44 Michael Nguyen ***@***.***> ha
scritto:

[2022-02-01 12:55] Caldarie commented on #30
Anyway you could share your main.dart? Unfortunately, i do not have much time to try and understand the background_service plugin and implement it.

[2022-02-01 13:34] bobosette commented on #30
`
void main() async {
  WidgetsFlutterBinding.ensureInitialized();
  initializeService();

  runApp(const MyApp());

}

// to ensure this executed
// run app from xcode, then from xcode menu, select Simulate Background Fetch
void onIosBackground() {
  WidgetsFlutterBinding.ensureInitialized();
}

Future<void> initializeService() async {
  final service = FlutterBackgroundService();
  await service

[2022-02-01 14:16] Caldarie commented on #30
Hi, the code you have given me above is NOT from your main.dart. That code is from the background_service example.

I understand if you cannot share the code; though, I will be unable to quickly identify the issue considering that you said it was urgent.

As for the outputrawscores, I cannot seem to reproduce the problem. Can you tell me your tflite_audio version, your parameters, as well as post

[2022-02-01 14:22] bobosette commented on #30
on my main I use that code....

I use the ^0.2.2+2 , for the doctor I will tell you as soon as I get in front of my mac

[2022-02-01 14:33] Caldarie commented on #30
Hi, can you try to update to 0.2.2+3? Maybe that will fix the issue.

As for the code you have given me, I would like to know where you called `onstart()`. Also, I would like to see your imports and widgets as well. Hence why I have asked for your main.dart.

[2022-02-01 15:20] bobosette commented on #30
import 'dart:async';

import 'package:flutter/material.dart';
import 'package:flutter_background_service/flutter_background_service.dart';

void main() {
  WidgetsFlutterBinding.ensureInitialized();
  initializeService();
  runApp(MyApp());
}

Future<void> initializeService() async {
  final service = FlutterBackgroundService();
  await service.configure(
    androidConfiguration: AndroidConfigura

[2022-02-01 16:10] Caldarie commented on #30
I think you best talk to the creator of background_service about this issue. As I have almost no knowledge about background service, he or she may have an insight to your problem.

[2022-02-01 16:20] bobosette commented on #30
Ok. At the moment i could be satisfied even if the app works on ios without
background service. I will let you know with the latest update

Il Mar 1 Feb 2022, 17:11 Michael Nguyen ***@***.***> ha
scritto:

[2022-02-02 20:50] bobosette commented on #30
Nothing to do man, also with the latest version I have the outputrawscores bug. Could it be the OS version? On my iPhone 6 I  have the 12.5.5. Maybe is too old? Which version do you have when you debug?

[2022-02-03 03:46] Caldarie commented on #30
iPhone 7, version 15.3.

Could be your iphone.

[2022-02-03 07:14] bobosette commented on #30
Hi @Caldarie . Yesterday I got deep inside your code and I found the problem. Inside SwiftTfliteAudioPlugin.swift, line 546, if the result of the recognition is
Raw Label Scores:
▿ 6 elements
  - nan
  - nan
  - nan
  - nan
  - nan
  - nan

the app crashes due to this error: "Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Invalid number value (NaN) in JSON write'

[2022-02-03 09:15] Caldarie commented on #30
Not much i can do when i cannot reproduce it.  However, the code is open to the public, so you are more than welcome to fix it. The most likely problem for your situation is:

[code]

[2022-02-03 09:26] bobosette commented on #30
Yes. This three line. I can do it by myself but as I told you I'm not so
comfortable with Swift. How do you handle that exception?

Il giorno gio 3 feb 2022 alle ore 10:15 Michael Nguyen <
***@***.***> ha scritto:

[2022-02-03 16:47] bobosette commented on #30
Finally. I fixed the outputRawScores bug. I changed this

let data = try? JSONSerialization.data(withJSONObject: scores)
let stringValue = String(data: data!, encoding: String.Encoding.utf8)
finalResults = Result(recognitionResult: stringValue, inferenceTime: roundInterval, hasPermission: true)

with this

var realScores = [Float32]()
            for var score in scores {
                if (score

[2022-02-04 00:30] Caldarie commented on #30
I’m glad to hear that.

You can also try this to handle NaNs
let realScores = scores.map { $0.isNaN ? 0 : $0 }

[2022-02-04 06:39] bobosette commented on #30
you're right, thank you. Do you think you can add it in an update?

Il giorno ven 4 feb 2022 alle ore 01:30 Michael Nguyen <
***@***.***> ha scritto:

[2022-02-04 08:36] Caldarie commented on #30
No problems, I will provide an update soon

[2022-02-04 08:37] bobosette commented on #30
thank you. let me know please

Il giorno ven 4 feb 2022 alle ore 09:36 Michael Nguyen <
***@***.***> ha scritto:

[2022-02-04 12:58] Caldarie commented on #30
Done. Please update to 0.2.2+4 and let me know if there are any problems.

If there are no problems, you can close the issue. Thanks

[2022-02-10 16:03] #30 closed

[2022-02-10 20:51] bobosette commented on #30
Sorry for the late reply. It works fine, thank you

Il Gio 10 Feb 2022, 17:03 Michael Nguyen ***@***.***> ha
scritto:

[2022-03-01 13:44] bobosette opened #32 "Audio problem"
Hi @Caldarie . My app is in test mode right now. Someone reported that on iOS the recognition works only if people speak loud close to the microphone. Did you ever report an issue like that??

Thank you

[2022-03-01 14:06] Caldarie commented on #32
Hi @bobosette

It seems iOS has been giving alot of issues lately :laughing:

For the earlier tflite_audio versions, this has been an issue. The reason being that the arrays have not been splicing properly. The later versions should of solved this problem but there could be a possibility that i have missed something.

Currently, i have been refractoring my code so that i could implement unit tests

[2022-03-02 08:07] bobosette commented on #32
Ok...maybe i will try that branch

[2022-03-08 08:30] Caldarie commented on #24
Hi @PeteSahad

Maybe a bit late, but if you are still interested in using MFCC, i have added the feature for both Android and iOS on this branch [here](https://github.com/Caldarie/flutter_tflite_audio/tree/feature/inference_on_stored_audio).

If you have time, can you run a few tests with your own model and let me know if it works for you?

[2022-03-08 14:39] Caldarie commented on #32
hi @bobosette

Can you provide your recording parameters for me?

I have finally refractored my code and can run unit tests yo check whether theres any problem with the splicing.

[2022-03-09 14:49] bobosette commented on #32
Hi @Caldarie . This is my recording parameters:

`
//model initialization
  TfliteAudio.loadModel(
      inputType: 'rawAudio',
      numThreads: 1,
      outputRawScores: true,
      isAsset: true,
      model:
          'assets/cough_model.tflite',
      label:
          'assets/cough_label.txt'
      );

  // bring to foreground
  FlutterBackgroundService().setForegroundMode(true);

  Stream<Ma

[2022-03-10 17:30] bdytx5 commented on #24
Hey guys,

As for using MFCC's in your plugin, I would not recommend doing this level of preprocessing outside of the model. This requires the same preprocessing code in the training step and inference step, which is difficult to do and may require continual refactoring... My recommendation is just to do the MFCC or any other preprocessing in the model itself, which is doable especially with keras

[2022-03-10 18:45] bdytx5 commented on #25
See https://github.com/tensorflow/tensorflow/issues/52042

[2022-03-14 08:21] bobosette commented on #32
Hi @c. Do u have some news??

[2022-03-14 08:31] Caldarie commented on #32
Hi

I have ran the tests as found [here](https://github.com/Caldarie/flutter_tflite_audio/blob/feature/inference_on_stored_audio/example/ios/RunnerTests/RecordingTest.swift).

Good news is that all tests have passed and there should be no problems with the recording. I will post an update once i have finished refactoring android code.

[2022-03-14 10:36] bobosette commented on #32
Oh perfect. Let me know when you release it.

Il giorno lun 14 mar 2022 alle ore 09:31 Michael Nguyen <
***@***.***> ha scritto:

[2022-03-18 05:30] Caldarie commented on #32
hi @bobosette

I have updated the package to `0.3.0`. There are alot of bug fixes for both android and iOS. Let me know if you encounter any bugs

I also added asynchronous tasks for iOS, so you may want to try the background_task plugin again to see if it works.

As for the recognition issue which you mentioned, I do have an idea why this issue occurs. It seems that when the plugin splices the re

[2022-03-18 06:01] Caldarie commented on #24
@bdytx5 Thank you for the input.

Likewise, I concur with your recommendation.

For those who still wish to use MFCC, I have left this feature open in the new update 0.3.0. Be aware though that It's an experimental feature and may not produce the intended results.

[2022-03-18 06:47] bobosette commented on #32
Perfect. I will try and I let you know

Il giorno ven 18 mar 2022 alle ore 06:30 Michael Nguyen <
***@***.***> ha scritto:

[2022-03-18 16:34] bobosette commented on #32
Hi @Caldarie. I was going to try your update, but when I run the Debug I have this error:

Error: CocoaPods's specs repository is too out-of-date to satisfy dependencies.
To update the CocoaPods specs, run:
  pod repo update

Exception: Error running pod install

Then i do pod repo update, but same error.

[2022-03-18 16:47] bobosette commented on #32
I forgot to tell you this: now with the latest update of flutter_background_service I was able to run flutter_tflite_audio also on background.

[2022-03-18 22:14] Caldarie commented on #32
@bobosette

I have updated the plugin to work with the latest iOS packages, hence why you recieved the error.

To fix this issue:

flutter clean
delete /ios/Pods
delete /ios/Podfile.lock
flutter pub get
from inside ios folder: pod install Run

[2022-03-18 22:15] bobosette commented on #32
Ok perfect thank you

[2022-03-27 10:39] joknjokn commented on #20
@Caldarie Sorry - forgot to respond and had my project on pause (because I also need to store recordings of the detections, and also can't find a way to create live spectrogram and spectrogram of the detections).

Either, I can soon try your solution, but is it possible to update this branch so it has all your other fixes/features as well? (Or is this dynamic functionality implemented in the main

[2022-03-27 16:15] Caldarie commented on #20
Hi @joknjokn. No problems at all.

I have yet to implement multiple inputs on the master branch, but it is on my todo list. I do have an idea on how to tackle this problem, but may take time to do so. I will keep you updated if you’d like.

also, if you’re in interested, this plugin is compatible with spectrograms, though it’s yet to be tested. If you do have time to test this feature and make the

[2022-04-07 07:49] alandotic opened #33 "Create model and retrain on the fly"
Hi, first of all thanks for the awesome project, especially the clear readme that walk me through the journey.

I would like to ask whether this plugin expose the API for user to train on the fly and probably reload after adding a new model?

[2022-04-07 09:10] Caldarie commented on #33
Hi @alandotic,

I am happy to hear that you found this project useful.

As for your question, the plugin does not expose the API to allow users to train on the fly. You can however implement this feature on your app, and then allow the user to reload the newly trained model with this plugin.

Let me know if this answers your question.

[2022-04-27 09:59] taimoor522 opened #34 "App size Increased."
My Tensorflow model which I trained using teachable machines has a size of 5MB but after adding model and model and package, my app size increased from 20MB to 54MB. Is there any solution?

[2022-04-27 10:58] Caldarie commented on #34
This a documented problem with teachable machine models. For more information take a look [here](https://github.com/Caldarie/flutter_tflite_audio#please-read-if-you-are-using-googles-teachable-machine-otherwise-skip)

As described on the link, the only way you can reduce the size of your app is to build your own custom model and remove `tflite-select-ops` from your Android manifest and iOS podfile

[2022-04-27 11:22] taimoor522 commented on #34
@Caldarie thank you

[2022-04-28 10:08] #24 closed

[2022-04-28 10:09] #13 closed

[2022-05-22 03:04] tamnguyenvan opened #35 "Need help with the inputs"
Hi, I have a dumb question. My model receives outputs of `librosa.load(audio_file, sr=16000)` as inputs. How can I reproduce it with your code?

Thank you.

[2022-05-22 03:33] Caldarie commented on #35
Hmm, am I correct to assume that you want to upload an audio file and return an array of 16 bit values? If yes, you may need to edit the package to do so. For example on android, the code below returns spliced arrays of 16 bit values, and is then fed into to the model. If you just want the array, just edit the code `this::startRecognition` to your own function.

[code]

If you want the package to

[2022-06-04 09:07] taimoor522 opened #36 "audio recognition stream listen only once."
Why does the stream only run once.....???
'''
recognitionStream.listen(
            (event) {
            print(listening');
            },);
'''

[2022-06-04 09:25] Caldarie commented on #36
To help me with your problem, please provide more information, such as logs and a sample of your code. If you cant provide your code, at least provide what parameters you have used in the stream.

[2022-06-04 10:46] taimoor522 commented on #36
@Caldarie
[code]

recognitionStream listen-only run once. Why? If it is a stream then it should keep listening to the audio. I wrapped it inside a periodic timer to run it again and again.

[2022-06-04 11:22] Caldarie commented on #36
Can you provide the logs as well please.

[2022-06-04 11:44] taimoor522 commented on #36
There is no need of logs.
The problem is simply that when I run the code below, it only prints the msg once even if it is a stream.
[code]

[2022-06-04 12:05] Caldarie commented on #36
With all due respect, logs give me a clearer picture as to whether the problem lies with the plugin or code. Help me help you, yes?

Also, you may need to read up more on how streams work.

[2022-06-07 12:10] tiofabby opened #37 "How to handle models generating multiple outputs"
Hi,
Is there a way to manage multiple output models?
I am trying to implement this model indeed: https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/models/modify/model_maker/audio_classification.ipynb
which is based on Yamnet model and generates 2 outputs: first one from Yamnet model, 2nd one from trained model.
Implementing flutter_tflite_audio only g

[2022-06-07 12:29] Caldarie commented on #37
hi @tiofabby,

it seems [several people ](https://github.com/Caldarie/flutter_tflite_audio/issues/27) have requested for compatibility with Yamnets. I'll see if i can update the package when i have free time, and will let you know when that is done.

[2022-06-07 12:45] tiofabby commented on #37
That would be great! Thank you @Caldarie

[2022-06-10 06:17] taimoor522 opened #38 "startRecording() called on an uninitialized AudioRecord."
[code]

E/AndroidRuntime(10013): Process: com.example.flutter_application_test, PID: 10013
E/AndroidRuntime(10013): java.lang.IllegalStateException: startRecording() called on an uninitialized AudioRecord.
E/AndroidRuntime(10013): 	at android.media.AudioRecord.startRecording(AudioRecord.java:1147)
E/AndroidRuntime(10013): 	at flutter.tflite_audio.Recording.start(Recording.java:91)
E/AndroidRuntime

[2022-06-10 07:02] Caldarie commented on #38
It seems this is more an issue with the flutter foreground service than this plugin. Please bring the issue up with the author of that plugin.

otherwise, you can look at his example on how to implement the foreground service with tflite_audio here: https://github.com/Dev-hwang/tflite_audio_example

[2022-07-15 16:36] kannel-outis opened #39 "Real time audio recognition from raw audio values"
Hi, great work here...
Please is there a way to do a real time audio recognition using the raw values gotten from an analog microphone (has gone through a little big of processing.. It works if loaded on audacity). The values are gotten from an analog microphone connected to a Raspberry pi Pico, then sent in real time to my flutter app. Please is there a way to do it with your package or just any

[2022-07-16 07:00] Caldarie commented on #39
Hi @kannel-outis,

For your use case, you will need to modify the package yourself. For [android](https://github.com/Caldarie/flutter_tflite_audio/blob/master/android/src/main/java/flutter/tflite_audio/TfliteAudioPlugin.java), assuming your raw values are of pcm16 format,  youll need to:

1. Splice your recording size to chunks that fit your model input size. For example, with a recording length i

[2022-07-16 13:44] kannel-outis commented on #39
Thank you so much... I will try this.

[2022-07-16 13:44] #39 closed

[2022-07-23 21:21] certainlyWrong opened #40 "implement function for extracting MFCCs in dart"
## Hello, i being able to perform extractions of MFCCs with a lot of performance on android smartphones.

I advise you to look at an implementation I made in this [repository](https://github.com/certainlyWrong/mfcc_bee). I've used this same implementation to classify bee audio and have achieved 90% accuracy so far.

This implementation follows the study of another implementation in python that I f

[2022-07-23 21:56] Caldarie commented on #40
Hi @certainlyWrong

Looks good. If you can integrate the two libraries together and do a pull request, I’m more than happy to accept. I’ve been meaning to replace the native implementations (due to low accuracy) but never had the time to do so.

[2022-07-24 22:36] certainlyWrong commented on #40
I also tried implementing it in C, but there's no need. The function in dart already has a lot of performance and is simpler to maintain. I tested it with a model trained using tflite_flutter and it gave great results on the smartphone.

It would be great to fork it and add it here, in which case we would have more tools for audio processing in one place, but I made the code in a hurry and there a

[2022-07-25 05:04] Caldarie commented on #40
No problems at all. It would be of great help to the community if you can provide more tools for audio processing in one place. Do let me know once you’re confident with your work.

[2022-07-28 11:51] SanaSizmic opened #41 "Output with predicated score and label"
Hi,
@Caldarie  can I add the predicted label with score or value as shown in the image below
Can you please help with this, it would be appreciated

![screenshot-developers google com-2022 07 28-17_15_29](https://user-images.githubusercontent.com/77270657/181497610-c21723ff-f9b8-4f83-93fe-7ecbfe459733.png)

[2022-07-28 12:26] Caldarie commented on #41
Hi, yes it’s possible to get the raw score. All you need to do is set `outputRawScores` to true. For example:

[code]

[2022-07-28 12:40] SanaSizmic commented on #41
Hi, Thanks for your quick reply. I tried this but it does not work, when I set outputRawScores to true it's not detecting anything and when I set it to false it works fine without Scores.

[2022-07-28 12:47] Caldarie commented on #41
You need to get the scores from the stream. Sample code is from the example

[code]

[2022-07-28 13:21] SanaSizmic commented on #41
Yes, I am using the exact same audio code, but when I set  `outputRawScores` to true it's not detecting anything and when I set it to false it works fine without Scores.

[2022-07-28 14:14] Caldarie commented on #41
Hi,

Of course it will not match the labels as you are returning the raw scores. If you use the code that i have pasted above, it should print out the raw score on the terminal.

If you wish to match the raw scores to the labels, you'll need to implement the code yourself. For an example of an implementation, please take a the code found [here](https://github.com/Caldarie/flutter_tflite_audio/issu

[2022-07-29 00:27] virtyos opened #42 "Error while runing on IOS"
Getting this error every time when I'm trying to listen to sounds
`
exception 'com.apple.coreaudio.avfaudio', reason: 'required condition is false: IsFormatSampleRateAndChannelCountValid(format)'`

only on IOS (12, debug mode), on Android everything is ok

[2022-07-29 00:29] virtyos commented on #42
my app code:

`import 'package:flutter/material.dart';
import 'dart:async';
import 'dart:developer';
import 'package:tflite_audio/tflite_audio.dart';
import 'package:flutter_unity_widget/flutter_unity_widget.dart';
import 'package:flutter/services.dart';
import 'package:ripple_button/ripple_button.dart';

void main() {
  WidgetsFlutterBinding.ensureInitialized();
  SystemChrome.setEnabledSystemUIM

[2022-07-29 00:29] virtyos commented on #42
my app code:

[code]

[2022-07-29 03:48] Caldarie commented on #42
Hi @virtyos

Thats quite an unusual error.

To help diagnose your problem, can you:
1. Paste the logs if possible
2. Git clone this project and run the example to see if the error persists.

[2022-07-31 14:36] virtyos commented on #42
[code]

the example runs correctly

[2022-07-31 14:52] Caldarie commented on #42
Hi, many thanks for the responses. They’re very helpful.

A hypothesis, are you using another plugins to record data? If yes, I suspect that there’s a conflict between this plugin and another plugin for iOS. I believe this other plugin is using AVFaudio in conjunction with the tflite_audio plugin, hence the error. According to [here](https://developer.apple.com/forums/thread/51935?answerId=1717140

[2022-07-31 16:19] virtyos commented on #42
Yes, you are right. I use flutter unity widget  (https://github.com/juicycleff/flutter-unity-view-widget), the app works correctly if to disable this plugin.

[2022-07-31 16:28] virtyos commented on #42
Thanks for ur help

[2022-07-31 16:28] #42 closed

[2022-09-08 13:06] SanaSizmic opened #43 "Continuous Audio Recognize"
Hi,
How to continuously recognize audio and stop recognize audio when clicks on the mic icon button.

[2022-09-08 13:21] Caldarie commented on #43
Set numOfInference to a very high number. For example, `numOfInferences = 99999`

For more info on the parameters, please look [here](https://github.com/Caldarie/flutter_tflite_audio#rough-guide-on-the-parameters)

[2022-11-13 14:18] SomeCodingUser opened #44 "openai whisper"
Hi,

could you use this library to run openai whisper with a tflite model? In the examples there are always labels provided, but for whisper there would not be any labels I think?

Thanks!

[2022-11-13 22:40] Caldarie commented on #44
Hi,

I had a quick look and it seems openai whisper uses pytorch. For it to be compatible with this plugin:

1. You’ll need to convert it to tflite. I believe it can be done if you follow the instructions [here](https://ai.aioz.io/guides/ml-ops/torch2tflite_convert/)
2. After converting the model, run the model through [here](https://netron.app/) to find input and output.
3. As for the labels.. yo

[2022-11-15 22:46] nyadla-sys commented on #44
This is proof-of-concept project to create an Android app based on Whisper TFLite, which leverages the stock Android UI to show off its features.
[Whisper-TFLIte-Android-Example](https://github.com/usefulsensors/openai-whisper/tree/main/android_app/Whisper-TFLIte-Android-Example)

Refer here for Whidper TFLite model
https://github.com/usefulsensors/openai-whisper/blob/main/models/whisper.tflite

g

[2022-11-16 06:48] Caldarie commented on #44
@nyadla-sys Thanks for the share. :)

[2022-11-29 19:37] nyadla-sys commented on #44
Feel free to download the openai/whisper-tiny tflite-based Android Whisper ASR APP from [Google App Store](https://play.google.com/store/apps/details?id=com.whisper.android.tflitecpp).